					{% for lesson in module.ordered_lessons|dictsort:"order" %}
						{% if not module.is_question or forloop.counter0 %}
							{% ifequal lesson current_lesson %}
								<li data-lo-type="lesson" data-lo-pk="{{ lesson.pk }}" class="active">
							
				
									<a href="{% url 'lesson_detail' topic_slug=class_tree.slug module_slug=module.slug slug=lesson.slug %}">{{ lesson.get_title }}</a>
				
			
									<ol class="active">
									{% for question in lesson.ordered_questions|dictsort:"order" %}
										{% if not lesson.is_question or forloop.counter0 %}
										
												<li data-lo-type="question" data-lo-pk="{{ question.pk }}"><a href="{% url 'question_detail' topic_slug=class_tree.slug module_slug=module.slug lesson_slug=lesson.slug slug=question.slug %}">{{ question.get_title }}</a></li>
												
										{% endif %}
									{% endfor %}
								</ol></li>
							{% else %}
								<li data-lo-type="lesson" data-lo-pk="{{ lesson.pk }}"><a href="{% url 'lesson_detail' topic_slug=class_tree.slug module_slug=module.slug slug=lesson.slug %}">{{ lesson.get_title }}</a></li>				
							{% endifequal %}
						{% endif %}
					{% endfor %}