{% extends 'chem21/base_inner.html' %}
{% block title %}About us :: CHEM21 learning platform{% endblock %}
{% block body_classes %}html not-front not-logged-in no-sidebars{% endblock %}
{% block content %}
{% block sidebar_1 %}
<div id="first-sidebar" class="col col-2-out-of-2 col-1-out-of-4 col-1-out-of-6">
	<div id="main-navigation-wrapper">
	    <div class="row main-navigation-row">
			<div  id="main-navigation-item-home" class="col col-1-out-of-2 col-2-out-of-4 col-3-out-of-6 main-navigation-item">
				<a href="/" class="col col-1-out-of-2 col-2-out-of-4 col-3-out-of-6 main-navigation-item"><span>Home</span></a>
			</div>
		</div>          
	</div>
</div>
{% endblock %}
{% block sidebar_2 %}
<div id="second-sidebar" class="col col-2-out-of-2 col-3-out-of-4 col-5-out-of-6">
<h2>About this resource</h2>
<p>
This online resource has been put together as part of the Innovative Medicines Initiative funded <a href="http://www.chem21.eu">CHEM21 project</a> (Chemical Manufacturing Methods for the 21st Century Pharmaceutical Industries), Europe’s largest public-private partnership dedicated to the development of manufacturing sustainable pharmaceuticals.  One of the primary aims of this project is to promote the uptake of green and sustainable methodologies amongst both existing and future generations of medicinal and process chemists and to embed them in every day practice. 
</p>
<p>
This online resource is further supplemented by a complementary book, edited and authored by CHEM21 consortium members and collaborating external experts, that addresses current challenges in modern green chemical technologies and sustainability thinking.  It encompasses a broad range of topics covered by the CHEM21 project.  The book, available in both hardcopy and electronic format, provides an overview of the key green chemistry tools, guidance and considerations aimed at developing greener processes, before moving on to look at cutting-edge synthetic methodologies. 
</p>
<p class="cta">
<a href="http://pubs.rsc.org/en/content/ebook/978-1-78262-467-7#!divbookcontent">Green and Sustainable Medicinal Chemistry: Methods, Tools and Strategies for the 21st Century Pharmaceutical Industry</a>, L. Summerton, H. F. Sneddon, L. C. Jones and J. H. Clark, eds.,  Royal Society of Chemistry, London, UK, 2016.
</p>
<h3>Audience</h3>
<p>
As such, the audience for this platform includes undergraduate students, postgraduates and industrial chemists (for example for new starter training and Continuing Professional Development).  Although this resource has been created with a focus on ‘greening’ the synthesis of active pharmaceutical ingredients (APIs), it is also of relevance to other industries and anyone who is interested in learning more about greener methodologies.  The resources are divided into two levels: 
</p>
<ul>
<li>
Introductory material that can be found in Foundation that will give the user a basic appreciation of the concepts therein; 
</li><li>
More focussed and in-depth material on a range of topics.
</li></ul>
<p>
The full <a href="/">list of available courses and modules</a> is available from the home page.
</p>
<h3>How you can use the material</h3>
<p>
The intention is that the material here is a permanent resource that can be studied in various ways:
</p>
<ul>
<li>
as a course in its own right;
</li><li>
embedded into other courses, in whole or part;
</li><li>
as individual stand-alone modules that can be chosen to suit the needs of individuals or organisations.
</li></ul>
<p>
<p>
The material is presented in a user friendly format of ‘bite-sized’ modules.  You can either run through these sequentially, or select individual areas of interest.  For each of the topics there are defined learning objectives and the content is a blend of written material, videos, easy to use guides that can be adopted in every-day working and further reading.  The content is supported by quizzes and more in depth exercises to test knowledge and understanding. 
</p>
<p>For more information about copyright and licensing please see our <a href="/legal">legal statements</a>.
</div>
</div>
{% endblock %}
{{ block.super }}
{% endblock %}