{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8"        lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9"               lang="en<" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"                      lang="en" dir="ltr"><!--<![endif]-->
<head>
  {% block head %}
  {% endblock %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}CHEM21: learn online for free{% endblock %}</title>
  {% block styles %}
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{% static "css/hacks.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/reset.css" %}" />
  <link type="text/css" rel="stylesheet" href="{% static "css/styles.css" %}?006" />
    <link type="text/css" rel="stylesheet" href="{% static "css/color.css" %}?002" />
    <link type="text/css" rel="stylesheet" href="{% static "css/opigno_lms.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/chem21.css" %}?010" />
  {% endblock %}
  {% block scripts %}
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
 <script src="{% static "js/jquery.gdocsviewer.min.js" %}"></script>
  <script src="{% static "js/jquery.cookie.js" %}"></script>
      <script src="{% static "js/admin.js" %}?006"></script>
  <!-- <script src="{% static "js/platon.js" %}?004"></script> -->
  <script src="{% static "js/reaction_flow_chart.js" %}?005"></script>
  <!--[if lt IE 9]>
  <script src="{% static "chem21/js/vendor/html5shiv/html5shiv.js" %}"></script>
  <![endif]-->
  {% endblock %}

</head>
<body class="{% block body_classes %}html front not-logged-in no-sidebars platon-use-slider{% endblock %}">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  {% block header %}
  <header id="site-header">
    <div class="row">
      <div class="col col-2-out-of-2 col-4-out-of-4 col-6-out-of-6 header-user-tools">
        <a href="{% url "front" %}" id="logo"><img src="{% static 'img/logo.png' %}" alt="CHEM21"></a>
        {% if not staticgenerator %}
        <h2 id="draft_message">THIS IS THE DRAFT!</h2>
        {% endif %}
        {% block search %}
        <a href="#top" id="menu-toggle-link" class="mobile-link-icon">
          <img src="{% static "img/menu-toggle-icon.png" %}" />
        </a>
        <div id="header-search">
          {{ search_form }}
        </div>
        {% if not staticgenerator %}
        <div id="header-login" class="hidden-mobile">
          <div class="link-block-user-login">
          <a href="{% url 'social:begin' backend='google-oauth2' %}">login</a>
          </div>
        </div>
        {% endif %}
        {% endblock %}
      </div>
    </div>
  </header>
  {% endblock %}
    <div id="site-content">
    <div class="row">
  {% block content %}
     
       <footer id="site-footer">
   {% block footer %}
   {% endblock %}
  </footer>
  {% endblock %}

  

  
</body>
</html>
