{% extends 'chem21/base_inner.html' %}
{% load tokens %}
{% load quiz %}
{% load static from staticfiles %}
{% load require %}
{% block scripts %}

{{ block.super }}
{% require_module '../quiz' %}
{% endblock %}
{% block head %}
{% if not object.text  and not perms.repo.change_question and not object.video and object.get_first_child %}
	<meta http-equiv="refresh" content="0;URL={{ object.get_first_child.get_absolute_url }}" /> 
{% endif %}
{% endblock %}
{% block title %}{{ object.title }} :: CHEM21 learning platform{% endblock %}
{% block body_classes %}html not-front not-logged-in no-sidebars{% endblock %}
{% block content %}
{% block sidebar_1 %}
<div id="first-sidebar" class="col col-2-out-of-2 col-1-out-of-4 col-1-out-of-6">
	<div id="main-navigation-wrapper">
	    <div class="row main-navigation-row">
			<div  id="main-navigation-item-home" class="col col-1-out-of-2 col-2-out-of-4 col-3-out-of-6 main-navigation-item">
				<a href="/" class="col col-1-out-of-2 col-2-out-of-4 col-3-out-of-6 main-navigation-item"><span>Home</span></a>
			</div>
			<div  id="main-navigation-item-training-catalogue" class="col col-1-out-of-2 col-2-out-of-4 col-3-out-of-6 main-navigation-item">
				<a href="/course-catalogue" class="col col-1-out-of-2 col-2-out-of-4 col-3-out-of-6 main-navigation-item"><span>Training catalogue</span></a>
			</div>
		</div>          
	</div>
</div>
{% endblock %}
{% block sidebar_2 %}
<div id="second-sidebar" class="col col-2-out-of-2 col-3-out-of-4 col-5-out-of-6">
	<div id="breadcrumb">
		<div class="breadcrumb"><a href="/">Home</a> > {% for crumb in breadcrumbs %}<a href="{{ crumb.get_absolute_url }}">{{ crumb.title }}</a> > {% endfor %}{{ object.title }}</div>    
	</div>
	<div id="title-wrapper">
    	<h1>{% block display_title %}{{ object.title }}{% endblock %}</h1>
    </div>
	<div id="class_nav">
		<h3>{{ class_tree.title }}</h3>
		{% block class_nav %}
		{% endblock %}
	</div>
	<div id="opigno-group-progress"></div>
	<div id="content" class="has-group-progress">

	{% block progress %}
<div id="quiz_progress">
{% block progress_title %}
<div class="titles"><h2>Introduction</h2></div>
{% endblock progress_title %}
	<nav class="question_nav">{% if previous %}<a href="{{ previous.get_absolute_url }}">&laquo; Previous</a>{% endif %}
{% if next %}<a class="next" href="{{ next.get_absolute_url }}">Next &raquo;</a>{% endif %}
	</nav>
</div>
{% endblock %}
{% block admin_tools %}
{% endblock %}
	{% block learning_object %}
	{% if object.get_text %}
	{% replace_tokens object.get_text %}
	{{ tokens_replaced|safe }}
	{% endif %}
	{% if object.video %}
<figure class="presentation">
<video width="100%" controls>
	<source src="{{ object.video.url }}" type="video/mp4" />
	Your browser does not support the video tag
</video>
<figcaption class="overlay">
{% if object.byline|striptags %}
	{{ object.byline|safe }}
{% else %}
	Presentation by <span class="byline">{{ object.video.author_string }}</span></figcaption>
{% endif %}
</figcaption>
</figure>
{% endif %}
{% if object.has_quiz %}
{% render_quiz object.quiz %}
{% endif %}
{% if object.pdf %}
<a href="{{ object.pdf.url }}" class="embed">{{ object.pdf.filename }}</a>
<!-- TODO: display pdf -->
{% endif %}
	{% block bottom_nav %}
	<nav id="end-nav">
	
	{% if next %}<div class="next"><span class="next">Next</span> &raquo; <a class="next" href="{{ next.get_absolute_url }}">{{ next.title }} </a></div>{% endif %}
	{% if previous %}<div class="back"><span class="next">Back</span> &laquo; <a class="prev" href="{{ previous.get_absolute_url}}" title="{{ previous.get_absolute_url }}">{{ previous.title }}</a></div>{% endif %}
	</nav>
	{% endblock %}
	{% if footnotes_html %}
<ol class="footnotes">
{{ footnotes_html|safe }}
</ol>
{% endif %}

	{% endblock %}
	{% include 'chem21/disqus.html' %}
	</div>
</div>
{% endblock %}

{{ block.super }}
{% endblock %}
