{% extends 'chem21/base_inner.html' %}
{% load tokens %}
{% load quiz %}
{% load video %}
{% load admin_urls %}
{% load static from staticfiles %}
{% load require %}
{% load fileupload %}
  {% block styles %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static "js/lib/colorbox/jquery.colorbox.css" %}" />
  {% endblock %}

{% block scripts %}
{{ block.super }}
{% block require %}
{% if perms.repo.change_lesson and not staticgenerator %}
{% require_module '../front-admin' %}
{% else %}
{% require_module '../common' %}
{% endif %}
{% endblock %}
{% endblock %}
{% block head %}
{% if not object.text and not perms.repo.change_question and not object.video and object.get_first_child and not object.is_question %}
	<meta http-equiv="refresh" content="0;URL={{ object.get_first_child.get_absolute_url }}" /> 
{% endif %}
{% endblock %}
{% block title %}{{ object.title }} :: CHEM21 learning platform{% endblock %}
{% block body_classes %}html not-front not-logged-in no-sidebars{% endblock %}
{% block content %}
{% block sidebar_1 %}
<div id="first-sidebar" class="collapsed col col-2-out-of-2 col-1-out-of-4 col-1-out-of-6">
</div>
{% endblock %}
{% block sidebar_2 %}
<div id="second-sidebar" class="col col-2-out-of-2 col-3-out-of-4 col-5-out-of-6">
	<div id="breadcrumb">
		<div class="breadcrumb"><a href="/">Home</a> > {% for crumb in breadcrumbs %}<a href="{{ crumb.get_absolute_url }}">{{ crumb.title }}</a> > {% endfor %}{{ object.title }}</div>    
	</div>
	<div id="class_nav">
		<h3>{{ class_tree.title }}</h3>
		{% block class_nav %}
		{% endblock %}
	</div>
	<div id="opigno-group-progress"></div>
	<div id="content" class="has-group-progress">
	{% block progress %}
<div id="quiz_progress">
    	<span class="section">{% block display_title %}{{ object.title }}{% endblock %}</span>
    
	<nav class="question_nav">{% if previous %}<a href="{{ previous.get_absolute_url }}">&laquo; Previous</a>{% endif %}
{% if next %}<a class="next" href="{{ next.get_absolute_url }}">Next &raquo;</a>{% endif %}
	</nav>
</div>

{% endblock %}

{% block admin_tools %}

{% if perms.repo.change_lesson %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
 	<form id="admin_tools">
 		<input type="hidden" id="learning_reference_type" value="{{ learning_reference_type }}" />
 		<input type="hidden" id="learning_reference_pk" value="{{ learning_reference_pk }}" />
 	
{% if object.is_question %}
		<a class="btn btn-success admin-edit" href="{% url opts.question|admin_urlname:'change' object.first_question.pk %}"
		data-from-url-edit="{% url opts.question|admin_urlname:'changelist' %}">
		Edit</a>
{% else %}
		<a class="btn btn-success admin-edit" href="{% url opts.current|admin_urlname:'change' object.pk %}"
		data-from-url-edit="{% url opts.current|admin_urlname:'changelist' %}">
		Edit</a>
{% endif %}
{% if object.video %}
	<a class="btn btn-success admin-edit" href="{% url opts.uniquefile|admin_urlname:'change' object.video.pk %}"
	data-from-url-edit="{% url opts.uniquefile|admin_urlname:'changelist' %}">Edit video attributes</a>
{% endif %}
	</form>
	{% fileupload_form "media_upload" %}
	    <!-- The fileinput-button span is used to style the file input field as button -->
	    
{% endif %}
{% endblock %}
{% block learning_object %}
	{% if object.get_text %}
		{% replace_tokens object.get_text %}
	
		{% if object.video %}
			{% get_video tokens_replaced object.video %}
		{% endif %}
		{% block pre_content %}
		{% if pre_content %}
			{{ pre_content|safe }}
		{% endif %}
		{% endblock %}
	{% endif %}
	{% if not object.has_quiz or object.get_text %}
		{% block progress_title %}
			<div class="titles"><h1>{{ object.get_title }}</h1></div>
		{% endblock progress_title %}
	{% endif %}
	{% if tokens_replaced %}
		{{ tokens_replaced|safe }}
	{% endif %}
	{% block post_text %}
	{% if not object.get_text and object.video %}
		{% get_video "" object.video %}
	{% endif %}
	{% if video %}
		{{ video|safe }}
	{% endif %}
	{% if object.has_quiz %}
		{% render_quiz object.quiz %}
	{% endif %}
	{% if object.pdf %}
	<a href="{{ object.pdf.url }}" class="embed">{{ object.pdf.filename }}</a>
	<!-- TODO: display pdf -->
	{% endif %}
	{% endblock %}
	{% block bottom_nav %}
		<nav id="end-nav">
		{% if previous %}<a class="prev" href="{{ previous.get_absolute_url}}" title="{{ previous.title }}">&laquo; Previous</a>{% endif %}
		{% if next %}  <a class="next" href="{{ next.get_absolute_url }}" title="{{ next.title}}">Next: {{ next.title }} &raquo;</a>{% endif %}
		</nav>
	{% endblock %}
	{% block footnotes %}
	{% if footnotes_html %}
		<ol class="footnotes">
		{{ footnotes_html|safe }}
		</ol>
	{% endif %}
	{% endblock %}

{% endblock %}
	</div>
</div>
{% endblock %}

{{ block.super }}
  {% if staticgenerator %}
<script>(function(t,e,o,n){var s,c,i;t.SMCX=t.SMCX||[],e.getElementById(n)||(s=e.getElementsByTagName(o),c=s[s.length-1],i=e.createElement(o),i.type="text/javascript",i.async=!0,i.id=n,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/fDYSKdNwokzu4r_2BEARBxtrQyfgJzT9fk9w_2F23t68iqOF2VZNNZo0n1qqXMyiTZVO.js"].join(""),c.parentNode.insertBefore(i,c))})(window,document,"script","smcx-sdk");</script>
  {% endif %}
{% endblock %}
