{% extends 'chem21/base.html' %}
{% load static from staticfiles %}
{% load fb_versions %}

{% block content %}

  	<div id="second-sidebar" class="col col-2-out-of-2 col-3-out-of-4 col-5-out-of-6">
      <div id="title-wrapper">
        <h1>CHEM21</h1>
      </div>
      <div id="front-back">
      <a href="#" title="Back">&laquo;</a>
      </div>
      <div id="content">
        <ul class="slides">
          <li class="slide" style="background-image: url({% static "slides/homepage_background_3.jpg" %});">
            <div class="content">
              <h2>Welcome&nbsp;to&nbsp;the&nbsp;CHEM21 online&nbsp;learning&nbsp;platform</h2>
              <div class="intro">
              <p> A short introduction (of about a paragraph) will go here.  It will explain who the site is for and what they can hope to get from it.</p>
              <a href="/about">&raquo; read more about the site</a>
              </div>
              <div class="cta">
              <p><a id="give_feedback" href="#">Feedback on this page</a></p>
            </div>
          </li>
          {% for topic in object_list %}
          <li class="topic" data-topic="{{ topic.slug }}">
            <div class="content">
            <h2>{{ topic.title }}</h2>
            <nav class="topic_nav">
            <ul>
            {% for module in topic.modules.all %}
              {% ifnotequal module.slug "-" %}
              <li class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"><a href="{{ module.get_absolute_url }}">{{ module.title }}</a></li>
              {% else %}
              {% for lesson in module.lessons.all %}
              <li class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"><a href="{% url 'lesson_detail' topic_slug=module.topic.slug module_slug=module.slug slug=lesson.slug %}">{{ lesson.title }}</a></li>
              {% endfor %}
              {% endifnotequal %}
            {% endfor %}
            </ul>
            </nav>
            </div>
          </li>
          {% endfor %}
        </ul>
        <ul id="front-menu">
          {% for topic in object_list %}
            <li data-topic="{{ topic.slug }}" {% if forloop.counter0|divisibleby:3 %}class="row3-start"{% endif %}>
            <a href="{{ topic.get_absolute_url }}">
            <img src="{% if topic.image %}{% version topic.image 'front_menu' %}
            {% else %}
              {% static "img/logo_square.jpg" %}
            {% endif %}" alt="{{ topic.title }}" />{{ topic.title }}</a></li>
          {% endfor %}
        </ul>      
      </div>
    
    </div>


{% endblock %}
{% block footer %}

        {% include 'chem21/disqus.html' %}
{% endblock %}