{% extends 'chem21/base_inner.html' %}
{% block title %}Legal statements :: CHEM21 learning platform{% endblock %}
{% block body_classes %}html not-front not-logged-in no-sidebars{% endblock %}
{% block content %}
{% block sidebar_1 %}
<div id="first-sidebar" class="col col-2-out-of-2 col-1-out-of-4 col-1-out-of-6">
	<div id="main-navigation-wrapper">
	    <div class="row main-navigation-row">
			<div  id="main-navigation-item-home" class="col col-1-out-of-2 col-2-out-of-4 col-3-out-of-6 main-navigation-item">
				<a href="/" class="col col-1-out-of-2 col-2-out-of-4 col-3-out-of-6 main-navigation-item"><span>Home</span></a>
			</div>
		</div>          
	</div>
</div>
{% endblock %}
{% block sidebar_2 %}
<div id="second-sidebar" class="col col-2-out-of-2 col-3-out-of-4 col-5-out-of-6">
<h2>Disclaimer</h2>
<p>Every care has been taken in preparing the information published on this website, however neither the CHEM21 consortium nor any of its member organisations guarantees the accuracy or currency of the content. The CHEM21 consortium reserves the right to remove or alter content or take down this website at any time without notice. &nbsp;Neither the CHEM21 consortium nor any of its member organisations can be held responsible for any errors or omissions and accept no liability whatsoever for any loss or damage howsoever arising.</p>
<p>The views expressed in regards to education and training materials represent the aspiration of the CHEM21 consortium, although may not always be the view of each individual organisation.</p>
<h2>References and links to third party information</h2>
<p>This website includes references and links to third party sources of information, including other websites. &nbsp;Referencing of external sources does not imply formal endorsement by the CHEM21 consortium. &nbsp;Neither the CHEM21 consortium nor any of its member organisations take any responsibility for any loss or damage suffered as a result of using the information published on any of the pages of linked web sites.</p>
<h2>Accessibility</h2>
<p>The CHEM21 consortium aims to make this website as accessible as it can to all visitors, in accordance with W3C recommendations. &nbsp;If you have problems accessing any material on this site, please report it to [INSERT WEBMASTER EMAIL HERE].</p>
<h2>Copyright</h2>
<p>All text, quiz and video content on this website is licensed, unless otherwise specified, under Creative Commons license CC BY-NC 4.0. This gives permission for it to be shared and adapted for non-commercial purposes as long as attribution is given to the CHEM21 consortium. &nbsp;</p>
<p>Still images, including but not limited to background images and those images appearing on the home page, unless specified, are reproduced with license from the rights owner and are <strong>not</strong> necessarily under a Creative Commons license. &nbsp;They should be considered copyright to the original source and not be shared or reproduced without permission.</p>
<p>Any and all statements of alternative license terms for content given on the site must be adhered to.</p>
<h2>Logs</h2>
<p>The CHEM21 consortium maintains server logs of activity on the website. &nbsp;These log files include the IP address of each computer that accesses this website. &nbsp;These may be used for essential maintenance of the site, including analysis of how the site is used.</p>
<h2>Cookies</h2>
<p>Cookies are text files containing small amounts of information which are downloaded to your device when you visit a website. Cookies are then sent back to the originating website, or to another website that recognises that cookie. Cookies are widely used because they allow a website to recognise a user&rsquo;s device and therefore allow customisation of that site and its services based on its previous activity.</p>
<p>You can find out more information about cookies at: <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a></p>
<h3>Cookies from this site &nbsp;</h3>
<p>The site creates cookies including, but not limited to, the following:</p>
<p><strong>Google Analytics</strong><br />
This website uses Google Analytics which generates cookies to produce statistics on website usage. The information about pages accessed is stored purely for statistical purposes. Please see Google&rsquo;s statement on Analytics and cookies for further information.</p>
<p><strong>Internal navigation</strong><br />
This website creates cookies that report back to the website user what content they have accessed on that device. &nbsp;This information is used purely to display this information to the user for navigational purposes. &nbsp;It is not stored persistently anywhere except the user's device.</p>
<h3>Managing cookies from this site</h3>
<p>You can manage cookies from this site, including blocking or deleting them, by changing the settings in your web browser. However, please note that deleting cookies may result in parts of this site and its online services not working as expected.</p>
</div>
</div>
{% endblock %}
{{ block.super }}
{% endblock %}