{% extends 'chem21/base_learning.html' %}
{% load tokens %}
{% load admin_urls %}
{% block title %} {{ object.title }} :: {{ current_module.title }} :: CHEM21 learning platform{% endblock %}
{% block display_title %}{% if not current_module.dummy %}{{ current_module.topic.title }}: {% endif %}{% if current_module.dummy %}{{ current_module.topic.title }} {% else %} {{ current_module.title }} {% endif %}{% endblock %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% ifequal module current_module %}
			{% if module.dummy %}
				{% include 'chem21/include/active_module_nav.html' with module=module current_lesson=object %}
			{% else %}
			<li class="active">
				{% if module.text|striptags or perms.repo.change_module %}
					<a href="{{ module.get_absolute_url }}">{{ module.name }}</a>
				{% else %}
					{{ module.name }}
				{% endif %}
				<ol>
				{% include 'chem21/include/active_module_nav.html' with module=module current_lesson=object %}
				</ol>
			</li>
			{% endif %}
			
		{% else %}
			{% if module.dummy %}
			{% include 'chem21/include/active_module_nav.html' with module=module current_lesson=object %}
			{% else %}
			<li><a href="{{ module.get_absolute_url }}">{{ module.name }}</a></li>
			{% endif %}
		{% endifequal %}
	{% endfor %}
	</ol>
</div>  
{% endblock %}