{% extends 'chem21/base_learning.html' %}
{% load tokens %}
{% load admin_urls %}
{% block title %} {{ object.title }} :: {{ current_module.title }} :: CHEM21 learning platform{% endblock %}
{% block display_title %}{% if current_module.dummy %}{{ current_module.topic.title }} {% else %} {{ current_module.title }} {% endif %}: {{ object.title }}{% endblock %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% ifequal module current_module %}
			{% if module.dummy %}
				{% include 'chem21/include/active_module_nav.html' with module=module current_lesson=object %}
			{% else %}
			<li class="active">
				{% if module.text|striptags or perms.repo.change_module %}
				<a href="{{ module.get_absolute_url }}">{{ module.name }}</a>
			{% else %}
				{{ module.name }}
			{% endif %}
				<ol>
				{% include 'chem21/include/active_module_nav.html' with module=module current_lesson=object %}
				</ol>
			</li>
			{% endif %}
			
		{% else %}
			<li><a href="{{ module.get_absolute_url }}">{{ module.name }}</a></li>
		{% endifequal %}
	{% endfor %}
	</ol>
</div>  
{% endblock %}
{% block admin_tools %}
{% if perms.repo.change_lesson %}
<a class="admin-edit" href="{% url opts.lesson|admin_urlname:'change' object.pk %}"
		data-from-url-edit="{% url opts.lesson|admin_urlname:'changelist' %}">
		Edit</a>
{% endif %}
{% endblock %}
{% block learning_object %}
{% block question %}
{% if object.get_text %}
{% replace_tokens object.get_text %}
{{ tokens_replaced|safe }}
{% endif %}
{% if object.video %}
<figure class="presentation">
<video width="100%" controls>
	<source src="{{ object.video.url }}" type="video/mp4" />
	Your browser does not support the video tag
</video>
<figcaption class="overlay">
{% if object.byline|striptags %}
	{{ object.byline|safe }}
{% else %}
	Presentation by <span class="byline">{{ object.video.author_string }}</span></figcaption>
{% endif %}
</figcaption>
</figure>
{% endif %}
{% if footnotes_html %}
<ol class="footnotes">
{{ footnotes_html|safe }}
</ol>
{% endif %}
{% endblock %}
{% endblock %}