{% extends 'chem21/base_learning.html' %}
{% block title %} {{ object.title }} :: {{ object.topic.title }} :: CHEM21 learning platform{% endblock %}
{% block display_title %}{{ object.topic.title }}: {{ object.title }}{% endblock %}
 {% load admin_urls %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% ifequal module object %}
			<li class="active">
				{{ module.title }}
				<div class="item-list"><ol class="active">
					{% include 'chem21/include/active_module_nav.html' with module=module %}
					</ol>
				</div>
			</li>
		{% else %}
			{% if module.dummy %}
				{% include 'chem21/include/active_module_nav.html' with module=module %}
			{% else %}
			<li>
				<a href="{{ module.get_absolute_url }}">{{ module.name }}</a>
			</li>
			{% endif %}
		{% endifequal %}
	{% endfor %}
	</ol>
</div>  
{% endblock %}
{% block admin_tools %}
{% if perms.repo.change_module %}
<a class="admin-edit" href="{% url opts.module|admin_urlname:'change' object.pk %}"
		data-from-url-edit="{% url opts.module|admin_urlname:'changelist' %}">
		Edit</a>
{% endif %}
{% endblock %}
