{% extends 'chem21/base_learning.html' %}
{% load staticfiles %}
{% block title %} {{ object.title }} :: {{ object.topic.title }} :: CHEM21 learning platform{% endblock %}
{% block display_title %}{{ object.topic.title }}: {{ object.title }}{% endblock %}
 {% load admin_urls %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% ifequal module object %}
			<li data-lo-type="module" data-lo-pk="{{ module.pk }}" class="active">
				<a href="#">{{ module.title }}</a>
				<div class="item-list">
					<ol class="active">
					{% include 'chem21/include/active_module_nav.html' with module=module %}
					</ol>
				</div>
			</li>
		{% else %}
			{% if module.dummy %}
				{% include 'chem21/include/active_module_nav.html' with module=module %}
			{% else %}
			<li data-lo-type="module" data-lo-pk="{{ module.pk }}">
				<a href="{{ module.get_absolute_url }}">{{ module.name }}</a>
			</li>
			{% endif %}
		{% endifequal %}
	{% endfor %}
	</ol>
	<div class="clear">&nbsp;</div>
</div>  
{% endblock %}
{% block learning_object %}
{% if perms.repo.change_lesson and not staticgenerator  %}
<div class="pdf_version">
<h2>Download this module</h3>
<img src="{% static "img/pdf_icon.png" %}" alt="" /> <a target="_blank" href="{{ module.get_pdf_version_url }}">PDF version</a>
</div>
{% endif %}
{{ block.super }}
{% endblock %}

