{% extends 'chem21/base_learning.html' %}
 {% load admin_urls %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% ifequal module object %}
			<li class="active">
				{{ module.title }}
				<div class="item-list"><ol class="active">
					{% for lesson in module.ordered_lessons|dictsort:"order" %}
						<li><a href="{% url 'lesson_detail' topic_slug=class_tree.slug module_slug=module.slug slug=lesson.slug %}">{{ lesson.title }}</a></li>				
					{% endfor %}</ol>
				</div>
			</li>
		{% else %}
			<li>
				<a href="{{ module.get_absolute_url }}">{{ module.title }}</a>
			</li>
		{% endifequal %}
	{% endfor %}
	</ol>
</div>  
{% endblock %}
{% block learning_object %}
<a class="admin-edit" href="{% url opts.module|admin_urlname:'change' object.pk %}"
		data-from-url-edit="{% url opts.module|admin_urlname:'changelist' %}">
		Edit</a>
{% if object.text %}
{{ object.text|safe }}
{% endif %}
{% endblock %}