{% extends 'chem21/base_learning.html' %}
{% load tokens %}
{% load admin_urls %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% ifequal module current_module %}
			<li class="active">
				
				<a href="{{ module.get_absolute_url }}">{{ module.title }}</a>
				
				<div class="item-list"><ol class="active">
					{% for lesson in module.ordered_lessons|dictsort:"order" %}
						{% ifequal lesson current_lesson %}
							<li class="active">
								<a href="{% url 'lesson_detail' topic_slug=class_tree.slug module_slug=module.slug slug=lesson.slug %}">{{ lesson.title }}</a>
								<ol class="active">

								{% for question in lesson.ordered_questions|dictsort:"order" %}
									{% ifequal question object %}
										<li class="active">{{ question.title }}</li>
										{% else %}
										<li><a href="{% url 'question_detail' topic_slug=class_tree.slug module_slug=module.slug lesson_slug=lesson.slug slug=question.slug %}">{{ question.title }}</a></li>
										
									{% endifequal %}
								{% endfor %}
								</ol>
							</li>
						{% else %}
							<li><a href="{% url 'lesson_detail' topic_slug=class_tree.slug module_slug=module.slug slug=lesson.slug %}">{{ lesson.title }}</a></li>				
						{% endifequal %}
					{% endfor %}
				</ol></div>
			</li>
		{% else %}
			<li>
				<a href="{{ module.get_absolute_url }}">{{ module.name }}</a>
			</li>
		{% endifequal %}
	{% endfor %}
	</ol>
</div>  
{% endblock %}

{% block learning_object %}

<div id="quiz_progress"><div class="titles"><h2>{{ object.title }}</h2>(Step {{ question_num }} of {{ num_questions }})</div>
	<nav class="question_nav">{% if prev_question %}<a href="{% url 'question_detail' topic_slug=class_tree.slug module_slug=current_module.slug lesson_slug=current_lesson.slug slug=prev_question.slug %}">&laquo; Previous</a>{% endif %}
{% if next_question %}<a href="{% url 'question_detail' topic_slug=class_tree.slug module_slug=current_module.slug lesson_slug=current_lesson.slug slug=next_question.slug %}">Next &raquo;</a>{% endif %}
	</nav>
</div>
{% block question %}
{% if perms.repo.change_question %}
<a class="admin-edit" href="{% url opts.question|admin_urlname:'change' object.pk %}"
		data-from-url-edit="{% url opts.question|admin_urlname:'changelist' %}">
		Edit</a>
{% endif %}
{% if object.text %}
{{ object.text|replace_tokens|safe }}
{% endif %}
{% if object.video %}
<video width="100%" controls>
	<source src="{{ object.video.url }}" type="video/mp4" />
	Your browser does not support the video tag
</video>
{% endif %}
{% if object.pdf %}
<!-- TODO: display pdf -->
{% endif %}

{% endblock %}
{% endblock %}