{% extends 'chem21/base_learning.html' %}
{% load tokens %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% ifequal module current_module %}
			<li class="active">
				{{ module.title }}
				<div class="item-list"><ol class="active">
					{% for lesson in module.ordered_lessons|dictsort:"order" %}
						{% ifequal lesson current_lesson %}
							<li class="active">
								{{ lesson.title }}
								<ol class="active">

								{% for question in lesson.ordered_questions|dictsort:"order" %}
									{% ifequal question object %}
										<li>{{ question.title }}</li>
										{% else %}
										<li><a href="{% url 'question_detail' topic_slug=class_tree.slug module_slug=module.slug lesson_slug=lesson.slug slug=question.slug %}">{{ question.title }}</a></li>
										
									{% endifequal %}
								{% endfor %}
								</ol>
							</li>
						{% else %}
							<li><a href="{% url 'lesson_detail' topic_slug=class_tree.slug module_slug=module.slug slug=lesson.slug %}">{{ lesson.title }}</a></li>				
						{% endifequal %}
					{% endfor %}
				</ol></div>
			</li>
		{% else %}
			<li>
				<a href="{{ module.get_absolute_url }}">{{ module.name }}</a>
			</li>
		{% endifequal %}
	{% endfor %}
	</ol>
</div>  
{% endblock %}
{% block learning_object %}
<div id="quiz_progress"><h2>{{ object.title }}</h2>(Step {{ object.order }} of {{ num_questions }})</div>
{% block question %}
{{ object.text|replace_tokens|safe }}
{% if object.video %}
<video width="100%" controls>
	<source src="{{ object.video.url }}" type="video/mp4" />
	Your browser does not support the video tag
</video>
{% endif %}
{% if object.pdf %}
<!-- TODO: display pdf -->
{% endif %}

{% endblock %}
{% endblock %}