{% extends 'chem21/base_learning.html' %}
{% load admin_urls %}
{% block display_title %}
{{ object.title }}
{% endblock %}
{% block progress_title %}
<h1>Introduction</h1>
{% endblock %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% if module.dummy %}
			{% include 'chem21/include/active_module_nav.html' with module=module %}
		{% else %}
		<li data-lo-type="module" data-lo-pk="{{ module.pk }}">
			<a  href="{{ module.get_absolute_url }}">{{ module.name }}</a>
		</li>
		{% endif %}
	{% endfor %}
	</ol>
	<div class="clear">&nbsp;</div>
</div>  
{% endblock %}
