{% extends 'chem21/base_learning.html' %}
{% load admin_urls %}
{% block class_nav %}
<div class="item-list">
	<ol>
	{% for module in class_tree.modules.all|dictsort:"order" %}
		{% ifequal module.slug "-" %}
			{% include 'chem21/include/active_module_nav.html' with module=module %}
		{% else %}
		<li>
			<a href="{{ module.get_absolute_url }}">{{ module.name }}</a>
		</li>
		{% endifequal %}
	{% endfor %}
	</ol>
</div>  
{% endblock %}
{% block learning_object %}
{% if perms.repo.change_topic %}
<a class="admin-edit" href="{% url opts.topic|admin_urlname:'change' object.pk %}"
		data-from-url-edit="{% url opts.topic|admin_urlname:'changelist' %}">
		Edit</a> 
{% endif %}

{{ object.text|safe }}
{% endblock %}