*.pyc
chem21repo/credentials.csv
*.db
devserver.log
*.swp
static/*
*.sublime-workspace
*.sublime-project
logs/*
node_modules/*
*.dmp
repo.db*
files_test/*
files_test
*.bk*
chem21repo/local.wsgi
*log*.txt
*json
chem21repo/static/SCORM/scorm_template.zip
site/*
paper.ris
chem21repo/scorm/*
chem21repo/static/SCORM/SCORM-wrapper/*
chem21repo/chem21/templates/chem21/cref.xml
chem21repo/csl/paperpile-doi.csl
chem21repo/repo/templatetags/media_upload.html
chem21repo/settings/local.py
logs
setenv.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.idea/
