packages:
 yum:
  git: []
  libjpeg-turbo-devel: []
  xz: []
  urw-fonts: []
  libXext: []
  openssl-devel: []
  libXrender: []
  python27-devel: []
  postgresql93-devel: []
  libxml2-devel: []
  libxslt-devel: []
  postgresql93-libs: []

container_commands:
 01_migrate:
  command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
  leader_only: true

 02_load_db_content_may2017:
  command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata chem21_content_may2017_2.json"
