packages:
 yum:
  git: []
  libjpeg-turbo-devel: []
  xz: []
  urw-fonts: []
  libXext: []
  openssl-devel: []
  libXrender: []
  python27-devel: []
  postgresql93-devel: []
  libxml2-devel: []
  libxslt-devel: []
  postgresql93-libs: []
  node: []

container_commands:
 01_migrate:
  command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
  leader_only: true

 02_load_db_content_may2017:
  command: "source /opt/python/run/venv/bin/activate && python manage.py initialise_data fixtures/init_data.json"
 
 03_load_superusers:
  command: "source /opt/python/run/venv/bin/activate && python manage.py create_su"

 04_collect_static:
  command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic"

 05_install_requirejs:
  command: "npm install -g requirejs"

 06_build_static:
  command: "r.js -o require-build.js"

 07_install_cli:
  command: "curl \"https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip\" -o \"awscliv2.zip\" && unzip awscliv2.zip && ./aws/install"

 08_push_to_s3:
  command: "aws s3 sync collected-static/deploy/ s3://${AWS_STORAGE_BUCKET_NAME}/static"
