commands: 
  01_get_pdfgen:
    command: "wget -O wkhtmltox.tar.xz https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.3/wkhtmltox-0.12.3_linux-generic-amd64.tar.xz"
  02_extract_pdfgen:
    command: "tar -xJf wkhtmltox.tar.xz"
  03_cp_pdfgen_to_path:
    command: "cp wkhtmltox/bin/wkhtmltopdf /usr/local/bin/wkhtmltopdf"
  04_cleanup_pdfgen:
    command: "rm wkhtmltox.tar.xz"
