{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<?php print $language->language; ?>" dir="<?php print $language->dir; ?>"<?php print $rdf_namespaces; ?>><![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8"        lang="<?php print $language->language; ?>" dir="<?php print $language->dir; ?>"<?php print $rdf_namespaces; ?>><![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9"               lang="<?php print $language->language; ?>" dir="<?php print $language->dir; ?>"<?php print $rdf_namespaces; ?>><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"                      lang="<?php print $language->language; ?>" dir="<?php print $language->dir; ?>"<?php print $rdf_namespaces; ?>><!--<![endif]-->
<head>
  {% block head %}
  {% endblock %}

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ head_title }}</title>

  {% block styles %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}

  <!--[if lt IE 9]>
  <script src="{% static chem21/js/vendor/html5shiv/html5shiv.js %}"></script>
  <![endif]-->
</head>
<body class="{{ body_classes}}">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  {% block header %}
  <header id="site-header">
    <div class="row">
      <div class="col col-2-out-of-2 col-4-out-of-4 col-6-out-of-6 header-user-tools">
        <a href="{% url "home" %}" id="logo"><img src="{% static logo.url %}" alt="CHEM21"></a>
        {% block search %}
        <a href="{% url "search" %}" class="mobile-link-icon">
          <img src="{% static chem21/img/search-submit.png %}" />
        </a>
        <a href="#top" id="menu-toggle-link" class="mobile-link-icon">
          <img src="{% static chem21/img/menu-toggle-icon.png %}" />
        </a>
        <div id="header-search">
          {{ search_form }}
        </div>
        {% endblock %}
      </div>
    </div>
  </header>
  {% endblock %}
  {% block content %}
    
  {% endblock %}
  {% block footer %}
  <footer id="site-footer">
    <div class="row">
      <div class="col span_6">
      </div>
    </div>
  </footer>
  {% endblock %}
</body>
</html>
