{% load glossary %}
{% load tokens %}
{% load responsive %}
{% load quiz %}
{% load video %}
{% load legal %}
{% load require %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ objects.0.title }}</title>
		<link type="text/css" rel="stylesheet" href="chem21_pdf_style.css">
		<link type="text/css" rel="stylesheet" href="jqmath.css">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<script src="jquery.js"></script>
		<script src="jscurry.js"></script>
		<script src="jqmath.js"></script>
		<meta charset="utf-8" />
	</head>
	<body>
		<header>
		<img src="chem21_pdf_logo.png" alt="CHEM21">
		</header>
		{% for object in objects %}
			{% ifequal object.distfromtopic 2 %}
			<div class="break" style="page-break-after:always;">&nbsp;</div>
			{% endifequal %}
			<h{{ object.distfromtopic }}>{{ object.title }}</h{{ object.distfromtopic }}>
			{% replace_tokens object.get_text %}
			{{ tokens_replaced|responsivise|glossarize|safe }}
			{% if object.has_quiz and not object.template.name %}
				{% render_pdf_quiz object.quiz %}
				{% replace_tokens rendered_tool %}
				{{ tokens_replaced|safe }}
				Answers on <a class="answers" href="#answers_{{ object.pk }}"> last page</a>
			{% endif %}
			{% if footnotes_html %}
			<ol class="footnotes">
			{{ footnotes_html|safe }}
			</ol>
			{% endif %}
			{% if object.video %}
				<div class="video">
					<img src="video.png" class="icon" alt="" />
					<div class="source">
						<a class="youtube" href="{{ object.video.get_remote_url }}">&raquo; View on YouTube</a>
						<a class="download" href="{{ object.video.url }}">&raquo; Download</a>
					</div>
					<div class="clearblank">&nbsp;</div>
				</div>
				{% if object.transcript %}
					<div class="transcript">
					<h4>Transcript</h4>
					{{ object.transcript|safe}}
					</div>
				{% endif %}

			{% endif %}
		{% endfor %}
		
		{% if video_transcripts %}
		<div id="video_transcripts" style="page-break-after:always;">
			<h1>Video transcripts</h1>
			{% for transcript in video_transcripts %}
			<h2 id="transcript_{{ transcript.page.pk }}">{{ transcript.page.get_title }}</h2>
			{{ transcript.transcript|safe }}
			{% endfor %}
		</div>
		{% endif %}	
		{% if quizzes %}
			<div class="break" style="page-break-after:always;">&nbsp;</div>
			<div id="quiz_answers">
				<h1>Quiz answers</h1>
				{% for quiz in quizzes %}
					{% if quiz.has_quiz and not quiz.template.name %}
					<div class="quiz_answers" id="answers_{{ quiz.pk }}">
					<h2>{{ quiz.current_lesson.title }} - {{ quiz.title }}</h2>
					{% render_pdf_answers quiz.quiz %}	
					{% replace_tokens rendered_tool %}
					{{ tokens_replaced|safe }}
					</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

	</body>
</html>