.not-front #content ul.admin_menu {
	max-width: none;
	border: 0;
	padding: 0;
	margin: 0;
}
.messages {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}

.messages li {
	margin: 0;
	font-style: italic;
	font-weight: bold;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 0.3em;
}

.messages li.success {
	background-color: #6d6;
	border: 1px solid #0a0;
}

.messages li.error {
	background-color: #c66;
	border: 1px solid #a00;
}

ul.admin_menu {
	margin: 0;
	padding: 0;
	background-color: #454;
	width: 100%;
	border:0;
	display: table;
}

ul.admin_menu>li {
	list-style-type: none;
	margin: 0 !important;
	padding: 0.3% 1%;
	font-size: 0.85em;
	cursor: pointer;
	width: 18%;
	color: #eee;
	text-align: center;
	border:0;
}


ul.admin_menu li.category {
	display: table-cell;
	position: relative;
	z-index: 1000;
}

ul.admin_menu li a {
	color: white;
	text-decoration: none;
}

ul.admin_menu li.category ul {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: none;
	margin: 0;
	padding:0;
}

ul.admin_menu li.category {
	margin: 0 !important;
}


ul.admin_menu li.command {
	display: block;
	background-color: #565;
	text-align: center;
	margin: 0 !important;
	padding: 0.2em 0;
	width: 100%;
}
ul.admin_menu li.command a {
	color: white !important;
}

ul.admin_menu li:hover {
	background-color: black;
}


ul.admin_menu li.disabled {
	border: none;
	background-color: #999;
	color: white;
	cursor: default;
}

#content-body .selectable {
	border-bottom: 5px solid #fafafa;	
	margin-top: 0;
	padding-top: 0.5em;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	cursor: pointer;
}

#content-body .edit_selectable {
	border: 3px solid #eee;
	cursor: pointer;
}

#content-body .selected {
	border-bottom: 5px solid #0f0 !important;
}

#content-body .edit_selected {
	border: 3px solid #0f0;
}