.messages {
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}

.messages li {
	margin: 0;
	font-style: italic;
	font-weight: bold;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 0.3em;
}

.messages li.success {
	background-color: #6d6;
	border: 1px solid #0a0;
}

.messages li.error {
	background-color: #c66;
	border: 1px solid #a00;
}

ul.admin_menu {
	margin: 0;
	padding: 0;
}

ul.admin_menu li {
	list-style-type: none;
	margin: 0 !important;
	padding: 0.7em;
	border-right: 1px solid #ccc;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	background-color: #fafafa;
	cursor: pointer;
}


ul.admin_menu li.category {
	display: inline-block;
	position: relative;
	z-index: 1000;
}

ul.admin_menu li a {
	color: #333;
	text-decoration: none;
}

ul.admin_menu li.category ul {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	margin: 0;
	padding:0;
}

ul.admin_menu li.category {
	text-transform: uppercase;
	margin: 0 !important;
}

ul.admin_menu li.command {
	display: block;
}

ul.admin_menu li:hover {
	background-color: #eaeaea;
}


ul.admin_menu li.disabled {
	border: none;
	background-color: #999;
	color: white;
	cursor: default;
}

#content-body .selectable {
	border-bottom: 5px solid #fafafa;	
	margin-top: 0;
	padding-top: 0.5em;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	cursor: pointer;
}

#content-body .edit_selectable {
	border: 3px solid #eee;
	cursor: pointer;
}

#content-body .selected {
	border-bottom: 5px solid #0f0 !important;
}

#content-body .edit_selected {
	border: 3px solid #0f0;
}