/************* HEADER *********/
.element-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
}
.clear {
	clear: both;
	height: 1px;
}

#logo img {
	max-height: 115px;
}
#draft_message {
    float: left; width: 350px; margin-left: 300px; line-height: 1em; margin-top: 10px; font-size: 3em; color: red; display:none;
}

#logo {
	
	left: 0px !important; 
	top: -7px !important;
	bottom: -20px !important;
	margin: 0 !important;
	transform: none !important;
	z-index: 9999 !important;
}



body.platon-use-slider #site-header {
	height: 95px !important;
}

body:not(.platon-use-slider) #site-header {
	height: 58px;
}

body.platon-use-slider #logo {
	top: -3px !important;
}

body.platon-use-slider #logo img {
	height: 115px;
	width: auto;
}


body:not(.platon-use-slider) #logo img {
	height: 80px;
	width: auto;

}

h1 {
	font-size: 1.6em;
	font-weight: bold;
	color: #666;
	line-height: 1.1em;
}



#title-wrapper {
	margin: 0;
}

#site-header .mobile-link-icon  {
	height: 17px;
	width: 17px;
	margin: 0;
	padding: 15px;
	background-color: #aaa;
	background-image: none;
	border: 1px solid #999;
}

#site-header .mobile-link-icon:hover {
	background-color: #777;
}



/************* Slide images ****************/



.content .field.field-name-field-slide-image {
	float: right;
	width: auto;
	height: auto;
	padding: 0.8em;
	border: 1px solid #ddd;
	margin-top: 1em;
}



.content .field.field-name-field-slide-image blockquote {
	margin: 0;
	max-width: 300px;
}



.content .field.field-name-field-slide-image blockquote p {
	margin: 0;
	padding: 0;
	font-size: 0.95em;
	color: #777;
	width: auto;
}

/****************** Front page ****************/

body.front #site-content {
	background-color: transparent;
	background-image: none;
}

body.front #content {
	background-color: transparent;
}

body.front #content .slides li .content nav {
	opacity: 0.85;
	background-color: #222;
	padding: 1em 0 0 0;
}

body.front #content .slides li.topic .content nav {

	padding: 1.5em 0 0 0;
}

body.front #content .slides li.topic .content nav ul {
	margin: 0 2%;
}

#front-menu {
	z-index:9999999;
	background-color: #222;
	opacity: 0.85;
}

body.front #second-sidebar {
	background-color: transparent;
}

body.front {
	background-color: #333;
    background-image: url('../img/front-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.front #site-footer {
	background-color: transparent;
	border: 0;
}

#site-footer {
	border-top: 3px solid #aaa;
}

#site-footer p.verbage {
	color: #444;
	text-align: center;
	font-size: 1.1em;
	max-width: 800px;
	margin: 0.75em auto 0 auto;
}

#site-footer p.verbage a {
	color: #595;
}

body.platon-use-slider #second-sidebar #front-menu {
	position: fixed;
	margin: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	border-top: 1px solid black;
}

body.platon-use-slider #second-sidebar {
	min-height: 750px !important;
}

body.platon-use-slider #second-sidebar>ul li {
	min-height: 750px !important;
}

body.platon-use-slider #second-sidebar #front-menu li {
	width: 33.33333% !important;
	overflow-y: hidden;
	position: static !important;
	padding: 1em 0%;
	float: left !important;
	list-style-type: none;
	margin: 0;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	min-height: 50px !important;
	line-height: 1.1em;
}

body.platon-use-slider #second-sidebar #front-menu li.row3-start {
	clear: both;
}

body.platon-use-slider #second-sidebar #front-menu li a {
	text-decoration: none;
	color: #3ebb42;
}

body.platon-use-slider #second-sidebar #front-menu li a:hover {
	color: #3edd42;
}

body.platon-use-slider #second-sidebar #front-menu li img {
	width: 45%;
	display: block;
	margin: 0 auto 0.8em auto;
	border: 8px solid black;
}

#front-menu li img {
	max-width: 100%;
}

#front-menu ul {
	margin: 0;
	padding: 0;
}

body.front #front-menu li.hover {
	background-color: #111;
}

body.front #second-sidebar ul.slides > li .content {
	text-align: center;
	width: 90%;
	padding: 0 5%;
}

body.front li .content .intro  {
	font-size: 1.05em;
	color: white;
	padding: 0 1em;
}

body.front #front-menu li.hover {
	background-color: black;
}

body.front nav {
	padding: 1.7em 0;
}

body.front ul.slides li.topic {
	display: none;
}

body.front ul.slides li.slide .content {
	top: 22%;
	
}

body.front ul.slides li .content h2 {
	font-size: 1.4em;
	color: #ffc;
	text-shadow: 0 0 8px #111;
	line-height: 1.1em;
}

body.front nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body.front nav li {
	list-style-type: none;
	margin: 0.2em 0;
	background-color: transparent;
	padding: 0.5em 0;
	border: 0;
	line-height: 1.1em;
}

body.front nav li:hover {
	background-color: black;
}

body.front #front-back {
	position:fixed;
	opacity: 0.9em;
	top: 15px;
	right: 75px;
	font-size: 125px;
	background-color: #111;
	line-height: 47px;
	z-index: 9999;
	padding: 0 10px;
	border: 1px solid #666;
}

body.front #front-back a {
	vertical-align: 20px;
	color: #ffc;
	text-decoration: none;
}

body.front #site-content {
	margin-top: 95px;
}

.cobranding img {
	width: 20%;
	padding: 5px 1%;
	max-width: 110px;
	float: right;
} 

.cobranding img#imi_logo  {
	float: left;
} 

body.front #content .content .cobranding {
	background-color: white;
	margin: 1.5em 0;
	border-top: 1px solid #555;
	font-size: 0.7em;
	color: #555;
	text-align: left;
}


/************ Biblio  **************/

.biblio-title {
	font-family: inherit;
	color: inherit;
}

/************* Lesson nav ************/

#class_nav {
	width: 24%;
	float: left;
	background-color: #f5f5f5;
	padding: 1%;
	margin: 0 1% 1% 0;
	box-shadow: 2px 2px 15px #aaa;
	border: 1px solid #ccc;
	border-top: 4px solid #999;
	font-size: 1.2em;
	line-height: 1.2em;
}

#class_nav ol {
	margin: 0;
	padding: 0 0 0 0;
	list-style-position: inside;
}

#class_nav li {
	margin-bottom: 0.3em;
}

#class_nav>.item-list>ol>li {
	background-color: white;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
}



#class_nav>.item-list>ol>li>.item-list>ol>li.active,
#class_nav>.item-list>ol>li>ol>li.active {
	background-color: #f0f0f0;
	padding: 0.4em;
}

#class_nav ol li {
	margin: 0 0 0.2em 0;
	
}

#class_nav li li {
	font-weight: normal;
	font-size: 0.95em;
}

#class_nav li li li {
	font-weight: normal;
	font-size: 1em;
} 

#class_nav ol ol {
	padding: 0 0 0 0.5em;
	list-style-type: lower-alpha;
}

#class_nav ol ol ol {
	list-style-type: lower-roman;
}


#class_nav li.active, #class_nav li li.active, #class_nav li li li.active {
	font-weight: bold;
	color: #555;
}

#class_nav h3 {
	color: #333;
	margin: 0 0 0.5em 0;
	text-transform: uppercase;
	border-bottom: 1px solid #888;
	padding: 0;
	line-height: 1.1em;
	letter-spacing: 1px;
	font-weight: bold;
	color: #555;
}

#class_nav a {
	color: #050;
	text-decoration: none;
}

#class_nav a:hover {
	text-decoration: underline;
}




#quiz_progress .section {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	max-width: 100%;
	line-height: 1.1em;
	position: static;
	margin: 0.4em;
}




#quiz_progress {
	font-weight: normal;
	padding: 0;
	position: relative;
	top: 0;
	margin: 0;
	border-bottom: 1px solid #eee;
}


#quiz_progress nav {
	background-color: #f0f0f0;
	padding: 0;
	bottom: -1.8em;
	right: 0;
	width: 100%;
	margin: 0;
	border: 0;
}


#quiz_progress nav a {
	color: white;
	font-size: 1em;
	padding: 0.1em 3%;
	display: inline-block;
	margin: 0;
	width: 30%;
	background-color: #262;
	text-decoration: none;
}

#quiz_progress nav a.next {
	float: right;	
}

#quiz_progress nav a.prev {
	float: left;	
}



.breadcrumb {
	background-color: #f6f6f6;
	border-bottom: 1px solid #dedede;
	font-size: 1em;
	padding: 0.2em 1em;
	margin: 0 0 1.5em 0;
}

/**************** Sarah's Flow Chart of Joy *********/

.reaction-discovery .flow-chart {
	margin-top: 1em;
}

.reaction-discovery .flow-chart tr th {
	background-color: #776;
	font-weight: bold;
}

.reaction-discovery .flow-chart tr td {
	background-color: #bca;
}

.reaction-discovery .flow-chart tr td.selected {
	background-color: #ddb;
	cursor: pointer;
}

.reaction-discovery .flow-chart .outcome {
	font-color: white;
}

.reaction-discovery .flow-chart .outcome .success {
	background-color: #5a5;
}

.reaction-discovery .flow-chart .outcome .amend {
	background-color: #55b;
}

.reaction-discovery .flow-chart .outcome .fail {
	background-color: #a55;
}

.reaction-discovery .choice td {
	cursor:pointer;
}

.reaction-discovery .choice td:hover {
	background-color: #ffc;
}

.reaction-discovery .outcome .success {
	background-color: #7c7;
}

.reaction-discovery .outcome .amend {
	background-color: #77c;
}

.reaction-discovery .outcome .fail {
	background-color: #c77;
}

.reaction-discovery th {
	cursor:pointer;
}

/************** green principles diagram ****/

.green_principles li {
        display: inline-block;
        vertical-align: top;
        font-size: 0.9em;
        line-height: 1.1em;
        width: 15%;
        height: 3.5em;
        aria-hidden: true;
        margin: 0.5em 0 0 0;
        padding: 0.5em 0.5% 0.5em 0.5%;
        background-color: #eee;
        color: #aaa;
}

.green_principles li.active {
        font-weight: bold;
        color: white;
        aria-hidden: false;
}

.green_principles li.active.p1 {
        background-color: #00ced1;
}


.green_principles li.active.p2 {
        background-color: #00ced1;
}


.green_principles li.active.p3 {
        background-color: #ff7f50;
}


.green_principles li.active.p4 {
        background-color: #ff7f50;
}


.green_principles li.active.p5 {
        background-color: #ff7f50;
}


.green_principles li.active.p6 {
        background-color: #00ced1;
}

.green_principles li.active.p7 {
        background-color: #00ced1;
}

.green_principles li.active.p8 {
        background-color: #00ced1;
}

.green_principles li.active.p9 {
        background-color: #00ced1;
}

.green_principles li.active.p10 {
        background-color: #ff7f50;
}

.green_principles li.active.p11 {
        background-color: #ff7f50;
}

.green_principles li.active.p12 {
        background-color: #ff7f50;
}

.green_principles {
        width: 100%;
        margin: 0;
        padding: 0;
}


/***************** QUIZZES *****************/
.quiz_questions .question {
	background-color: #f1f1f1;
	padding: 1em;
	font-size: 1.5em;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) 
}


.quiz_questions .question h3 {
	margin-top: 0;
	line-height: 1.1em;
}

.quiz_questions .question ul, .quiz_questions .question li {
	list-style-type: none;
}

.quiz_questions .question ul li.choice {
	background-color: white;
	padding: 0.3em 1em;
	margin: 0.5em 2em 0.5em 0;
	border: 1px solid #eee;
	border-left: 4px solid #4caf50;
}

.quiz_questions .question ul li.choice.correct {
	border-left: 15px solid #4caf50;
}

.quiz_questions .question ul li.choice.incorrect {
	border-left: 15px solid #b54;
}

.quiz_questions .controls a {
	background-color: #4caf50;
	padding: 0.5em;
	color: white;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-right: 1%;
	font-size: 0.9em;
}

.quiz_questions .controls a.skip {
	background-color: #af504c;
}

.quiz_questions .controls a:hover {
	background-color: #072;
}

.quiz_questions a.submit {
	margin-top: 0.75em;
	background-color: #183;
	padding: 0.75em;
	width: 100%;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.quiz_questions a.submit:hover {
	background-color: #072;
}

.quiz_questions .question h3 {
	margin-bottom: 0.5em;
}

.quiz_questions .question:not(.marked) ul li.choice {
	cursor: pointer;
}

.quiz_questions .question:not(.marked) ul li.choice:hover {
	background-color: #ddf;
}

.quiz_questions .question .choice.chosen {
	background-color: #ddf;
}

.quiz_questions .question.marked.multi ul li.choice.correct.unchosen,
.quiz_questions .question.marked ul li.choice.incorrect.chosen {

	background-image: url("../img/incorrect.png");
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}

.quiz_questions .question.marked.multi ul li.choice.incorrect.unchosen,
.quiz_questions .question.marked ul li.choice.correct.chosen {

	background-image: url("../img/correct.png");
background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}

.quiz_questions .question.marked .answers {
	background-color: white;
	padding: 1em;
	font-size: 0.8em;
	margin-bottom: 1em;
}

.quiz_questions .question.marked .answers p {
	margin: 0.3em 0;
}

.quiz_questions .question.marked span.label {
	font-weight: bold;
}

.quiz_questions .question.marked h3 {
	color: #777;
	margin-bottom: 0;
}

.quiz_questions .question .help {
	font-size: 0.8em;
	font-style: italic;
	background-color: #e9e9e9;
	padding: 0.3em;
	margin-top: 0;
	border-left: 4px solid #ddd;
}

.quiz_questions .question .final_score {
	font-size: 1.15em;
	font-weight: bold;
	margin: 0 0 0.1em 0;
}

.quiz_questions .quiz_total {
	font-size: 1.8em;
	font-weight: bold;
}

.quiz_questions .question .discussion {
	font-style: italic;
	font-size: 0.85em;
}

/************** FOOTNOTES *************/

ol.footnotes {
	background-color: #eee;
	padding: 1em 1em 1em 2.5em;
	border: 1px solid #d0d0d0;
	border-top: 1px solid #bbb;
}

ol.footnotes li {
	line-height: 1.1em;
	margin-bottom: 0.5em;
}

#site-content {
	margin-top: 55px;
}

#site-header, #site-content {
	display: block;
	float: none;
}

#class_nav {
	display: none;
}

#front-menu {
	display: none;
}

#second-sidebar {
	padding-top: 10px;
}

nav#end-nav {
	text-align: center;
	clear: both;
}

nav#end-nav div.next {
	background-color: #444;
	color: white;
	padding: 1em;
	font-size: 1.1em;
	margin-bottom: 0;
	margin-top: 1em;
}

nav#end-nav div.next a {
	color:white;
}

nav#end-nav span.next {
	font-weight: bold;
}

nav#end-nav div.back {
	color: #666;
	background-color: #efefef;	
	padding: 0.1em 1em;
	font-size: 1em;
	border-bottom: 1px solid #999;
	margin-bottom: 2em;
}

nav#end-nav div.back a {
	color: #666;
}

body.front #front-back {
	display: none;
}

figure.presentation {
	padding: 0;
	margin: 0;
	position: relative;
}

figure.presentation figcaption.overlay {
	position: absolute;
	opacity: 0.85;
	background-color: #222;
	color: #fafafa;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 1.1em;
	padding: 0.5em 0;
	text-align: center;
	border: 1px solid #666;
	box-shadow: 2px 2px 15px #aaa;
}

figure.presentation figcaption.description {
	color: #333;
	font-style: italic;
}

figure.presentation figcaption.overlay .byline {
	font-weight: bold;
}


#content aside {
	width: 40%;
	float: right;
	margin-bottom: 1.5%;
	margin-top: 1em;
	margin-left: 1.5%;
}

.not-front #content p, .not-front #content ul, .not-front #content dl, .not-front #content ol {
	max-width: 950px;
	font-size: 1.15em;
	line-height: 1.35em;
}

#content aside figure.presentation {
	padding: 4%;
	background-color: white;
	border: 1px solid #bbb;
}


#content table td p {
    margin: 0;
}



#content dl dt {
	font-weight: bold;
	border-bottom: 1px solid #bbb;
}

figure.inline {
	border-top: 2px solid #aaa;
	border-bottom: 1px solid #bbb;
	box-shadow: 1px 1px 8px #ddd;
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 1em 0 0 0;
	clear:both;
}

figure.inline img, figure.inline table {
	max-width: 90%;
}

figure.inline table {
	margin: 0 auto;
}

figure.inline figcaption {
	background-color: #dfdfdf;
	border-top: #dbc;
	color: #111;
	font-style: italic;
	padding: 0.5em;
	margin-top: 0.8em;
	clear: both;
}

body.front #disqus_thread iframe {
	width: 600px !important;
	min-width: 600px !important;
	position: fixed !important;
	top: 150px;
	right: 50px;
	z-index: 999999;
	background-color: #222;
	padding: 1em;
}

p.cta {
	border: 1px solid #dda;
	background-color: #ffd;
	padding: 0.5em;
}

@media screen and (max-width: 799px) {
	#class_nav {
		float: none;
		width: 100%;
		box-shadow: none;
		background-color: #333;
		border: 0;
		padding: 0 !important;

	}

	#class_nav li {
		color: #efefef !important;
	}

	#class_nav h3 {
		padding: 0.1em 0.5em;
		border-top: 1px solid #888;
		border-bottom: 1px solid #888;
		background-color: #444;
		color: #fafafa;
	}

	#class_nav a {
		color: #eee;
	}
	
	#class_nav .item-list {
		padding-left: 1em;
		padding-bottom: 1em;
	}

	#class_nav .item-list .item-list .item-list {
		padding: 0;
	}

	#give_feedback {
		display: none;
	}

}


@media screen and (min-width: 800px) {
	#logo {
		left: 25px !important; 
	}


	#quiz_progress {
		margin: 0;
		border-bottom: 1px #226622 solid;
	}


	#quiz_progress nav {
		display: inline-block;
		width: 35%;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin-top: 0.5em;
		padding: 0 0.5em;
		position: absolute;
		bottom: 0;
		right: 0.5em;
	}

	#quiz_progress .section {
		max-width: 60%;
		font-size: 1.2em;
		position: static;
		margin-top: 0.6em;
		margin-bottom: 0.3em;
	}


	#quiz_progress nav a {
		display: inline-block;
		width: 45%;
		background-color: #3e7342;
		border: 1px solid #386535;
		color: white;
		margin-right: 1%;
		text-decoration: none;
		text-align: center;
		padding: 4px 0;
		position: static;
	}


	
	#quiz_progress nav a:hover {
		background-color: #427949;
	}


	#title-wrapper {
		margin: 0.5em;
	}

	#draft_message {
		display: block;
	}
	body.front #site-content, #site-content {
		margin-top: 0;
	}

	#class_nav {
		display: block;
	}

	#front-menu {
		display: block;
	}

	body.front nav li {
		float: left;
		width: 47%;
	}

	body.front nav li.odd {
		margin-right: 6%;
		clear: both;
	}
	body.platon-use-slider #second-sidebar #front-menu li.row3-start {
		clear: none;
	}

	body.front #second-sidebar ul.slides > li .content {
		width: 60%;
		margin: -30px 20% 0 20%;
		font-size: 1.2em;
	}
	body.platon-use-slider #second-sidebar #front-menu li {
		width: 16.6667% !important;
	}
	
	body.front #front-back {
	top: 150px;
	left: 8%;
	right: auto;
	}
}

@media screen and (min-width: 1400px) {
	#logo {
		left: 35px !important; 
	}

body.front #second-sidebar ul.slides > li .content {
		font-size: 1.3em;
		width: 50%;
		margin: -30px 25% 0 25%;
		padding: 0;
	}
body.front #second-sidebar ul.slides > li .content h2 {
	font-size: 2em;
}
	body.front li .content .intro {
		margin: 0 1%;
	}
}

