/************* HEADER *********/
.element-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
}
.clear {
	clear: both;
	height: 1px;
}

#logo img {
	max-height: 115px;
}
#draft_message {
    float: left; width: 350px; margin-left: 300px; line-height: 1em; margin-top: 10px; font-size: 3em; color: red; display:none;
}

body .cc_container {
	font-family: "Source Sans Pro", sans-serif;
	color: #ddd;
	text-shadow: none;
	bottom: 50%;
	line-height: 1.1em;
	transform: translateY(-50%);
}

body .cc_container .cc_logo {
	display: none;
}

#logo {
	left: 0px !important; 
	top: -7px !important;
	bottom: -20px !important;
	margin: 0 !important;
	transform: none !important;
	z-index: 9999 !important;
}

#first-sidebar.collapsed {
	display:none;
}


#site-header {
	height: 58px;
}

body.front .row {
	overflow: visible;
}

#logo img {
	height: 80px;
	width: auto;

}

h1 {
	font-size: 1.6em;
	font-weight: bold;
	color: #666;
	line-height: 1.1em;
}

#title-wrapper {
	margin: 0;
}

#site-header .mobile-link-icon  {
	height: 17px;
	width: 17px;
	margin: 0;
	padding: 15px;
	background-color: #aaa;
	background-image: none;
	border: 1px solid #999;
}

#site-header .mobile-link-icon:hover {
	background-color: #777;
}

body.front #site-header .mobile-link-icon {
	display: none;
}

#site-header div#admin_site_links {
	float:right;
	margin-right: 1.5em;
	font-size: 1.3em;
	border: 1px solid #bbb;
	padding: 0.5em;
	background-color: #999;
}

#site-header div#admin_site_links .fileupload_wrapper {
	display: none;
}

.ui-btn {
	font-family: inherit;
	font-weight: inherit;
}

legend {
	text-shadow: none;
}


.ui-page-theme-a a {
	font-weight: inherit;
}

.ui-page-theme-a {
	text-shadow: none;
}

.marked_choices .ui-state-disabled {
	opacity: 0.7;
}

.marked_choices fieldset {
	margin-top: 1.5em;
}

.marked_choices fieldset legend {
	text-transform: uppercase;
	font-weight: bold;
}

.marked_choices fieldset.all_incorrect legend {
	background-color: #900;
}

.marked_choices .choice label {
	margin-top: 0;
}


/************* Slide images ****************/



.content .field.field-name-field-slide-image {
	float: right;
	width: auto;
	height: auto;
	padding: 0.8em;
	border: 1px solid #ddd;
	margin-top: 1em;
}




.content .field.field-name-field-slide-image blockquote {
	margin: 0;
	max-width: 300px;
}



.content .field.field-name-field-slide-image blockquote p {
	margin: 0;
	padding: 0;
	font-size: 0.95em;
	color: #777;
	width: auto;
}

/****************** Front page ****************/

body.front #site-content {
	background-color: transparent;
	background-image: none;
}

body.front #content {
	background-color: transparent;
}

body.front #content .slides li .content nav {
	opacity: 0.85;
	background-color: #222;
	padding: 1em 0 0 0;
}

body.front #content .slides li.topic .content nav {

	padding: 1.5em 0 0 0;
}

body.front #content .slides li.topic .content nav ul {
	margin: 0 2%;
}

#front-menu {
	z-index:9999999;
	background-color: #222;
	opacity: 0.85;
}

body.front #second-sidebar {
	background-color: transparent;
}

body.front {
	background-color: #333;
    background-image: url('../img/front-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.front #site-footer {
	background-color: transparent;
	border: 0;
}

#second-sidebar {
	padding-bottom: 3em;
}

#site-footer {
	border-top: 1px solid #dfdfdf;
	border-bottom: 30px solid #464;
	padding-bottom: 5em;
	margin-top: 2em;
}

#site-footer p.verbage {
	color: #444;
	text-align: center;
	font-size: 1.1em;
	max-width: 800px;
	margin: 0.75em auto 0 auto;
}

#site-footer p.verbage a {
	color: #595;
}



body.platon-use-slider #second-sidebar #front-menu li {
	width: 33.33333% !important;
	overflow-y: hidden;
	position: static !important;
	padding: 1em 0%;
	float: left !important;
	list-style-type: none;
	margin: 0;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	min-height: 50px !important;
	line-height: 1.1em;
}

body.platon-use-slider #second-sidebar #front-menu li.row3-start {
	clear: both;
}

body.platon-use-slider #second-sidebar #front-menu li a {
	text-decoration: none;
	color: #3ebb42;
}

body.platon-use-slider #second-sidebar #front-menu li a:hover {
	color: #3edd42;
}



#front-menu li img {
	max-width: 100%;
}

#front-menu ul {
	margin: 0;
	padding: 0;
}

body.front #front-menu li.hover {
	background-color: #111;
}

body.front #second-sidebar ul.slides > li .content {
	text-align: center;
	width: 90%;
	padding: 0 5%;
}

body.front li .content .intro  {
	font-size: 1.05em;
	color: white;
	padding: 0 1em;
}

body.front #front-menu li.hover {
	background-color: black;
}

body.front nav {
	padding: 1.7em 0;
}

body.front ul.slides li.topic {
	display: none;
}

body.front ul.slides li.slide .content {
	top: 22%;
	
}

body.front ul.slides li .content h2 {
	font-size: 1.4em;
	color: #ffc;
	text-shadow: 0 0 8px #111;
	line-height: 1.1em;
}

body.front nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body.front nav li {
	list-style-type: none;
	margin: 0.2em 0;
	background-color: transparent;
	padding: 0.5em 0;
	border: 0;
	line-height: 1.1em;
}

body.front nav li:hover {
	background-color: black;
}

body.front #front-back {
	position:fixed;
	opacity: 0.9em;
	top: 15px;
	right: 75px;
	font-size: 125px;
	background-color: #111;
	line-height: 47px;
	z-index: 9999;
	padding: 0 10px;
	border: 1px solid #666;
}

body.front #front-back a {
	vertical-align: 20px;
	color: #ffc;
	text-decoration: none;
}


.cobranding img {
	width: 20%;
	padding: 5px 1%;
	max-width: 110px;
	float: right;
} 

.cobranding img#imi_logo  {
	float: left;
	width: 40%;
	max-width: 220px;
	margin-top: 5px;
} 

body.front #content .content .cobranding {
	background-color: white;
	margin: 1.5em 0;
	border-top: 1px solid #555;
	font-size: 0.7em;
	color: #555;
	text-align: left;
}


/************ Biblio  **************/

.biblio-title {
	font-family: inherit;
	color: inherit;
}

/************* Lesson nav ************/

#class_nav {
	background-color: #f5f5f5;
	padding: 1%;
	margin: 0 1% 1% 0;
	box-shadow: 2px 2px 15px #aaa;
	border: 1px solid #ccc;
	border-top: 6px solid #999;
	font-size: 1.2em;
	line-height: 1.2em;
	color: #555;
}

#class_nav ol {
	margin: 0;
	padding: 0.3em 0 0 0;
	list-style-position: inside;
}

#class_nav li {
	margin-bottom: 0.3em;
}

#class_nav>.item-list>ol>li {
	background-color: white;
	border: 1px solid #e5e5e5;
	border-bottom: 1px solid #e0e0e0;
	padding: 0.4em;
	margin: 0 0 0.2em 0;
}

#class_nav>.item-list>ol>li.active {
	position: relative;
	left: -3px;
	top: -2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 0.8em;
}


#class_nav>.item-list>ol>li>.item-list>ol>li.active,
#class_nav>.item-list>ol>li>.jquery-list-position-fix>.item-list>ol>li.active,
#class_nav>.item-list>ol>li>ol>li.active,
#class_nav>.item-list>ol>li>.jquery-list-position-fix>ol>li.active {
	background-color: #f0f0f0;
	padding: 0.4em;
}
/*
#class_nav>.item-list>ol>li>a,
#class_nav>.item-list>ol>li>.jquery-list-position-fix>a {
	text-decoration: none;
}

#class_nav>.item-list>ol>li>a:hover,
#class_nav>.item-list>ol>li>.jquery-list-position-fix>a:hover {
	text-decoration: underline;
}
*/


#class_nav ol li {
	margin: 0 0 0.2em 0;
	clear: both;
	
}

#class_nav .clear {
	width: 90%;
	height: 1px;
	float: right;
	clear: both;
}

#class_nav li li {
	font-weight: normal;
	font-size: 0.95em;
}

#class_nav li li li {
	font-weight: normal;
	font-size: 1em;
} 

#class_nav ol ol {
	padding: 0.3em 0 0 0.5em;
	list-style-type: lower-alpha;
	font-weight: normal;
	clear: both;
}

#class_nav ol ol ol {
	list-style-type: lower-roman;
}


#class_nav li.active, #class_nav li li.active, #class_nav li li li.active {
	font-weight: bold; 
	color: #555;
}

#class_nav h3 {
	color: #333;
	margin: 0 0 0.5em 0;
	text-transform: uppercase;
	border-bottom: 1px solid #888;
	padding: 0;
	line-height: 1.1em;
	letter-spacing: 1px;
	font-weight: bold;
	color: #555;
}
#class_nav a, #breadcrumb a, #site-content a {
	color: #181;
}


#quiz_progress .section {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	max-width: 100%;
	line-height: 1.1em;
	position: static;
	margin: 0.4em;
}

#quiz_progress {
	font-weight: normal;
	padding: 0;
	position: relative;
	top: 0;
	margin: 0;
	border-bottom: 1px solid #eee;
}


#quiz_progress nav {
	background-color: #f0f0f0;
	padding: 0;
	bottom: -1.8em;
	right: 0;
	width: 100%;
	margin: 0;
	border: 0;
}


#quiz_progress nav a, #content a.hide_solution {
	color: white;
	font-size: 1em;
	padding: 0.1em 3%;
	display: inline-block;
	margin: 0;
	width: 30%;
	background-color: #262;
	text-decoration: none;
}

#content a.hide_solution {
	width: auto;
	box-shadow: 1px 1px 3px #222;
	background-color: #ffef33;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); */
    color: #222;
    min-width: 150px;
    max-width: 300px;
    padding: 0.1em 0.8em;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#content a.hide_solution.shown {
	background-color: #262;
	color: white;
}

#quiz_progress nav a.next {
	float: right;	
}

#quiz_progress nav a.prev {
	float: left;	
}



.breadcrumb {
	background-color: #f6f6f6;
	border-bottom: 1px solid #dedede;
	font-size: 1em;
	padding: 0.2em 1em;
	margin: 0 0 1.5em 0;
}

/**************** Sarah's Flow Chart of Joy *********/

.reaction-discovery .flow-chart {
	margin-top: 1em;
}

.reaction-discovery .flow-chart tr.intro td {
	background-color: #ddd;
	font-size: 0.85em;
}

.reaction-discovery .flow-chart tr th {
	background-color: #776;
	font-weight: bold;
}

.reaction-discovery .flow-chart tr td {
	background-color: #bca;
}

.reaction-discovery .flow-chart tr td.selected {
	background-color: #ddb;
	cursor: pointer;
}

.reaction-discovery .flow-chart .outcome {
	font-color: white;
}


.reaction-discovery .choice td {
	cursor:pointer;
}

.reaction-discovery .choice td:hover {
	background-color: #ffc;
}

.reaction-discovery .outcome .success {
	background-color: #7c7;
}

.reaction-discovery .outcome .amend {
	background-color: #bbf;
}

.reaction-discovery .outcome .fail {
	background-color: #f44;
	color: white;
	font-weight: bold;
}

.reaction-discovery th {
	cursor:pointer;
}

/************** green principles diagram ****/

.green_principles li {
        display: inline-block;
        vertical-align: top;
        font-size: 0.9em;
        line-height: 1.1em;
        width: 15%;
        height: 3.5em;
        aria-hidden: true;
        margin: 0.5em 0 0 0;
        padding: 0.5em 0.5% 0.5em 0.5%;
        background-color: #eee;
        color: #aaa;
}

.green_principles li.active {
        font-weight: bold;
        color: white;
        aria-hidden: false;
}

.green_principles li.active.p1 {
        background-color: #00ced1;
}


.green_principles li.active.p2 {
        background-color: #00ced1;
}


.green_principles li.active.p3 {
        background-color: #ff7f50;
}


.green_principles li.active.p4 {
        background-color: #ff7f50;
}


.green_principles li.active.p5 {
        background-color: #ff7f50;
}


.green_principles li.active.p6 {
        background-color: #00ced1;
}

.green_principles li.active.p7 {
        background-color: #00ced1;
}

.green_principles li.active.p8 {
        background-color: #00ced1;
}

.green_principles li.active.p9 {
        background-color: #00ced1;
}

.green_principles li.active.p10 {
        background-color: #ff7f50;
}

.green_principles li.active.p11 {
        background-color: #ff7f50;
}

.green_principles li.active.p12 {
        background-color: #ff7f50;
}

.green_principles {
        width: 100%;
        margin: 0;
        padding: 0;
        clear: both;
        max-width: 100% !important;
}

#popcorn_video video {
	width: 100%;
}


/***************** QUIZZES *****************/
.quiz_questions .question {
	background-color: #f1f1f1;
	padding: 1em;
	font-size: 1.3em;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) 
}


.quiz_questions .question h3 {
	margin-top: 0;
	line-height: 1.1em;
}

.quiz_questions .question ul {
	margin: 0;
	padding: 0;
}

.quiz_questions .question ul, .quiz_questions .question li {
	list-style-type: none;
}

.quiz_questions .question ul li.choice {
	background-color: white;
	padding: 0.3em 1em;
	margin: 0.5em 2em 0.5em 0;
	border: 1px solid #eee;
	border-left: 4px solid #999;
	font-size: 0.9em;
}

.quiz_questions .question fieldset {
	padding: 0.75em;
}

.quiz_questions .question div.choice,
.guide .question div.choice {
	padding: 0.25em;
	background-color: #f0f0f0;
	width: 90%;
	border-bottom: 1px solid #dfdfdf;
	line-height: 1.2em;
	font-size: 0.85em;
	padding: 0.5em 1em 0.5em 1em;
	cursor: pointer;
}

.quiz_questions .question div.choice:hover,
.guide .question div.choice:hover {
	background-color: #ddd;
}


.quiz_questions .question div.choice input,
.guide .question div.choice input {
	margin: 0 0.3em 0 0;
	vertical-align: middle;
}

.quiz_questions .question div.choice label,
.guide .question div.choice label {
	display:inline-block;
	vertical-align: middle;
	width: 90%;
	padding: 0;
	margin: 0;
}

.quiz_questions .question ul li input {
	margin-right: 0.85em;
	display: inline-block;
}

.quiz_questions .quote {
	font-weight: normal;
	font-size: 0.8em;
}

.quiz_questions .gap {
	width: 4em;
	border-bottom: 1px solid #222;
	display: inline-block;
	text-align: center;
}


.quiz_questions .gap.current {
	font-weight: bold;
	color: #700;
}

.guide {

		background-color: #dfdfdf;
		padding: 1em;
		margin-bottom: 1em;
}

.quiz_questions .controls a,
.guide .controls a
.quiz_questions a.submit,
.guide a.submit {
	font-size: 0.9em;
}

.guide .error p {
	border: 1px solid red;
	font-weight: bold;
	padding: 0.5em;
	text-align: center;
}

#end-nav a {
	font-weight: bold;
	font-size: 1.1em;
}

#site-content .quiz_questions .controls a,
#site-content .guide .controls a,
#site-content .quiz_questions a.submit,
#site-content .guide a.submit,
#end-nav a,
#she_scores .reset {
	background-color: #ffef33;
	padding: 1%;
	color: black;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-right: 1%;
	
}

#site-content .quiz_questions .controls a:hover,
#site-content .guide .controls a:hover,
#site-content .quiz_questions a.submit:hover,
#site-content .guide a.submit:hover,
#end-nav a:hover,
#she_scores .reset:hover  {
	background-color: #ffef99;

}




#site-content .quiz_questions .controls a.previous,
#site-content .guide .controls a.prev,
#end-nav a.prev {
	width: 40%;
	margin: 0;
	float: left;
	background-color: #aaa;
	color: white;
}


#site-content .quiz_questions .controls a.previous:hover,
#site-content .guide .controls a.prev:hover,
#end-nav a.prev:hover {
	background-color: #888;
}

#content .quiz_questions p.quiz_total {
	font-size: 2em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ddd;
	padding: 0.3em;
}

.quiz_questions .question .controls .skip, 
.quiz_questions .question .controls .next,
.guide .question .controls .next,
.quiz_questions .question a.submit,
.guide .question a.submit,
#she_scores .reset {
	width: 30%;
	text-align: center;
	margin: 0 10%;	
}

#end-nav a.next {
	width: 40%;
	float: right;
}

.quiz_questions .question .controls .next,
.guide .question .controls .next,
.quiz_questions .question a.submit,
.guide .question a.submit {
	text-transform: uppercase;
	font-weight: bold;
}

.quiz_questions .question:first-child .controls .skip, 
.quiz_questions .question:first-child .controls .next,
.guide .question:first-child .controls .next,
.quiz_questions .question:first-child a.submit,
.guide .question:first-child a.submit,
#she_scores .reset {
	width: 30%;
	float: none;
	text-align: center;
	margin: 0 30%;
}

.quiz_questions .question h3 {
	margin-bottom: 0.5em;
}


.quiz_questions .question:not(.marked) ul li.choice {
	cursor: pointer;
}

.quiz_questions .question:not(.marked) ul li.choice:hover {
	background-color: #eee;
}

.quiz_questions .question .choice.chosen {
	background-color: #e0e0e0;
}

.quiz_questions .question label,
.guide .question label {
	font-weight: normal;
	cursor: pointer;
}



.quiz_questions .marked_choices .all_incorrect .chosen {
	background-image: url("../img/incorrect.png");
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}

.quiz_questions .marked_choices .all_correct .chosen {
	background-image: url("../img/correct.png");
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}

.quiz_questions .question.marked .answers {
	background-color: white;
	padding: 1em;
	font-size: 0.75em;
	margin-bottom: 1em;
}

.quiz_questions .question.marked .answers p {
	margin: 0.3em 0;
}

.quiz_questions .question.marked span.label {
	font-weight: bold;
}

.quiz_questions .question.marked h3 {
	color: #777;
	margin-bottom: 0;
}

#content .quiz_questions .question legend.help {
	font-size: 0.9em;
	font-style: italic;
	background-color: #e9e9e9;
	padding: 0.3em;
	margin-top: 0;
	border-left: 4px solid #ddd;
	color: #333;
}

.quiz_questions .question .final_score {
	font-size: 1.15em;
	font-weight: bold;
	margin: 0 0 0.1em 0;
}


.quiz_questions .quiz_total {
	font-size: 1.8em;
	font-weight: bold;
}

.quiz_questions .question .discussion {
	font-size: 0.8em;
}

/************** FOOTNOTES *************/

ol.footnotes {
	clear:both;
	background-color: #eee;
	padding: 1em 1em 1em 2.5em;
	border: 1px solid #d0d0d0;
	border-top: 1px solid #bbb;
}

ol.footnotes li {
	line-height: 1.1em;
	margin-bottom: 0.5em;
}

#site-content {
	margin-top: 55px;
}

#site-header, #site-content {
	display: block;
	float: none;
}

#class_nav {
	display: none;
}



#second-sidebar {
	padding-top: 10px;
}

nav#end-nav {
	clear: both;
}

nav#end-nav a {
	margin-bottom: 0.8em;
}

body.front #front-back {
	display: none;
}

figure.presentation {
	padding: 0;
	margin: 0;
	position: relative;
}

figure.presentation figcaption.overlay {
	position: absolute;
	opacity: 0.85;
	background-color: #222;
	color: #fafafa;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 1.1em;
	padding: 0.5em 0;
	text-align: center;
	border: 1px solid #666;
	box-shadow: 2px 2px 15px #aaa;
}

figure.presentation .loader {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

figure.presentation figcaption.headers {
	position: absolute;
	color: #222;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-family: "Calibri", "Source Sans Pro", sans-serif;
	cursor: pointer;
}

figure.presentation .video_wrapper {
	position: relative;
}

figure.presentation .disclaimer {
	display: none;
	position: absolute;
	width: 90%;
	padding: 0 5%;
	text-align: center;
	bottom: 15%;
	max-height:  65%;
	overflow-y: auto;
}



#content figure.presentation .disclaimer p {
	font-size: 0.75em;
	cursor: pointer;
}

#content figure.presentation .action_overlay {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.1;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	z-index: 99999;
}

#content figure.presentation #popcorn_footnote {
	position: absolute;
	width: 84%;
	bottom: 25%;
	margin: 0 8%;
	background-color: #222;
	color: white;
	opacity: 0.85;
}

#content figure.presentation #popcorn_footnote p {
	margin: 0.1em 0.5em;
}

#content figure.presentation .action_overlay.play {
	background-image: url('../img/play.png');
}

#content figure.presentation .action_overlay.repeat {
	background-image: url('../img/repeat.png');
	display: none;
}

figure.presentation figcaption.headers .chem21 {
	font-size: 1.3em;
	color: #282;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 1.1em;
}

figure.presentation figcaption.headers .module_title {
	font-size: 1.3em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #333;
	line-height: 1.1em;
}

figure.presentation figcaption.headers .title,
figure.presentation figcaption.headers .authors {
	font-size: 1.05em;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: #777;
	line-height: 1.1em;
}
figure.presentation figcaption.headers .title {
	margin-top: 1.5em;
}

figure.presentation figcaption.description {
	color: #333;
	font-style: italic;
}

figure.presentation figcaption.overlay .byline {
	font-weight: bold;
}

#content aside {
	width: 100%;
	margin-bottom: 1.5%;
	margin-top: 1em;
	margin-left: 1.5%;
}



.not-front #content p, .not-front #content ul, .not-front #content dl, .not-front #content ol {
	max-width: 950px;
	font-size: 1.15em;
	line-height: 1.4em;
}

.not-front #content ul li, .not-front #content ol li {
	margin-top: 0.4em;
}

.not-front #content ul ul, .not-front #content ol ol {
	font-size: 1em;
}

#content aside figure.presentation {
	padding: 4%;
	background-color: white;
	border: 1px solid #bbb;
}


#content table td p {
    margin: 0;
    }


.not-front #content table td p,
.not-front #content table th p {
	line-height: 1.2em;
}

#content table th p {
	margin: 0;
}

#content table td {
	padding: 0.3em;
}

#content table th {
	padding: 0.3em;
}

#content dl dt {
	font-weight: bold;
	border-bottom: 1px solid #bbb;
}

#she_scores div {
	box-shadow: 1px 1px 8px #ddd;
	background-color: white;
	display: inline-block;
}


#she_scores h3 {
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	margin-top: 0;
	padding: 0.5em;
}

#she_scores p {
	padding: 0.5em;
}

table.ranking th.bad, #she_scores .bad h3 {
	background-color: red;
}

table.ranking th.ok, #she_scores .ok h3 {
	background-color: yellow;
	color: #222;
}

table.ranking th.good, #she_scores .good h3 {
	background-color: green;
}

table.ranking td.vbad {
	background-color: #c85032;
}

table.ranking td.bad {
	background-color: #fa8072;
}

table.ranking td.quitebad {
	background-color: #ffd78d;
}

table.ranking td.ok {
	background-color: #ffc;
}

table.ranking td.quitegood {
	background-color: #daffda;
}

table.ranking td.good {
	background-color: #c1ffc1;
}

#score_s, #score_h, #score_e {
	width: 15.6%;
	margin-right: 1% ;
}

#score_s h3, #score_h h3, #score_e h3 {
	text-align: center;
}

table.she_scores .bad {
	background-color: red;
	color: white;
}
table.she_scores .ok {
	background-color: yellow;
	color: #222;
}
table.she_scores .good {
	background-color: green;
	color: white;
}

img.ghs_symbol {
	height: 35px;
	width: auto;
	border: 1px solid #bbb;
	vertical-align: middle;
}

#content table.she_scores .bad p {
	color: white;
}
#content table.she_scores .ok p {
	color: #222;
}
#content table.she_scores .good p {
	color: white;
}


#content #score_s p, #content #score_h p, #content #score_e p, #content #default_ranking p {
	font-size: 2.4em;
	margin: 0;
	padding: 0 0.5em;
	line-height: 1.5em;
	font-weight: bold;
	color: #555;
	margin-bottom: 0.5em;
}

#content #score_s p, #content #score_h p, #content #score_e p {
	text-align: center;
}


#default_ranking {
	width: 50%;
}



figure.inline {
	border-top: 2px solid #aaa;
	border-bottom: 1px solid #bbb;
	box-shadow: 1px 1px 8px #ddd;
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 1em 0 0 0;
	clear:both;
}


figure.inline.twothirds {
	width: 60%;
}

figure.inline img, figure.inline table {
	max-width: 90%;
}

.thumb_figures {
	clear: both;
}

.thumb_figures figure {
	float: left;
	min-width: 65px;
	clear: none !important;
}

.thumb_figures.two figure {
	width: 45%;
	margin-left: 3%;
}

.thumb_figures.three figure {
	width: 30%;
	margin-left: 3%;
}

.thumb_figures.four figure {
	width: 22%;
	margin-left: 3%;
}

.thumb_figures.four figure figcaption,
.thumb_figures.five figure figcaption,
.thumb_figures.six figure figcaption,
.thumb_figures.seven figure figcaption {
	display: none;
}

.thumb_figures.five figure {
	width: 16%;
	margin-left: 3%;
}

.thumb_figures.six figure {
	width: 13%;
	margin-left: 3%;
}
.thumb_figures.seven figure {
	width: 12%;
	margin-left: 2%;
}

.thumb_figures.8 figure {
	width: 11%;
	margin-left: 1.5%;
}

.thumb_figures figure:first-child {
	margin-left: 0 !important;
}

figure.inline table {
	margin: 0 auto;
}

figure.inline figcaption {
	background-color: #dfdfdf;
	border-top: #dbc;
	color: #111;
	font-style: italic;
	padding: 0.5em;
	margin-top: 0.8em;
	clear: both;
	font-weight: bold;
}

figure.inline .figure_name {
	font-weight: normal;
}

#content span.figure_ref {
	font-weight: bold;
}

body.front #disqus_thread iframe {
	width: 600px !important;
	min-width: 600px !important;
	position: fixed !important;
	top: 150px;
	right: 50px;
	z-index: 999999;
	background-color: #222;
	padding: 1em;
}

p.cta {
	border: 1px solid #dda;
	background-color: #ffd;
	padding: 0.5em;
}

p.attrib {
	border: 1px solid #efefef;
	background-color: #fafafa;
	padding: 0.5em;
	font-size: 1em !important;
}

p.attrib .rights_statement {
	font-size: 0.85em;
	margin-top: 0.5em;
	padding: 0.05em 0;
	display: block;
	color: #888;
	line-height: 1.25em;
	width: 85%;
	border-top: 1px dotted #efefef;
	font-weight: normal;
}

@media screen and (max-width: 799px) {
	.cobranding img {
		width: 14%;
	}

	body.front ul.slides li .content h2 {
		position: absolute;
		color: black;
		right: 0;
		top: -58px;
		width: 65%;
		line-height: 1em;
		font-size: 1.3em;
		font-weight: bold;
		z-index: 9999 !important;
		text-shadow: none;
		color: #444;
	}

	body.front #second-sidebar #front-menu li a {
	    color: #eee;
	    text-decoration: none;
	}

	body.front #front-menu .topic_title {
		background-color: #111;
		display: block;
		width: 90%;
		margin: 0 4%;
		padding: 0.8em 1%;
	}

	body.front li .content .intro {
		font-size: 1em;
		line-height: 1.1em;
	}

	.quiz_questions .question ul li.choice {
		font-size: 0.75em;
		line-height: 1.1em;
	}

	body.platon-use-slider #second-sidebar #front-menu li img {
		width: 80%;
		display: block;
		margin: 0 auto 0.8em auto;
	}

	body.platon-use-slider #second-sidebar #front-menu {
		margin: 0;
		bottom: 0;
		width: 100%;
		padding: 0;
		border-top: 1px solid black;
	}


	#give_feedback {
		display: none;
	}

}


@media screen and (min-width: 800px) {

	#site-header {
		height: 65px !important;
	}
	body.front #site-header {
		height: 95px !important;
	}

	body.front #logo {
		top: -3px !important;
	}

	body.front #logo img {
		height: 115px;
		width: auto;
	}


	body.front #site-content {
		margin-top: 95px;
	}

	#site-content .quiz_questions .controls a.previous,
	#end-nav a.prev {
		width: 20%;
	}

	#end-nav a.next {
		width: 70%;
	}

	#class_nav {
		width: 24%;
		float: left;
	}



	#logo {
		left: 25px !important; 
	}

	body.platon-use-slider #second-sidebar #front-menu {
		position: fixed;
		margin: 0;
		bottom: 0;
		width: 100%;
		padding: 0;
		border-top: 1px solid black;
	}
	body.platon-use-slider #second-sidebar #front-menu li img {
		width: 45%;
		display: block;
		margin: 0 auto 0.8em auto;
		border: 8px solid black;
	}

	body.platon-use-slider #second-sidebar {
		min-height: 750px !important;
	}

	body.platon-use-slider #second-sidebar>ul li {
		min-height: 750px !important;
	}

	#front-menu {
		display: none;
	}

	#quiz_progress {
		margin: 0;
		border-bottom: 1px #226622 solid;
	}

	#quiz_progress {
		overflow: hidden;
	}
	#quiz_progress nav {
		display: inline-block;
		width: 35%;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin-top: 0.5em;
		padding: 0 0.5em;
		position: absolute;
		bottom: -2px;
		right: 0.5em;
	}

	#quiz_progress .section {
		max-width: 60%;
		font-size: 1.2em;
		position: static;
		margin-top: 0.6em;
		margin-bottom: 0.3em;
	}


	#quiz_progress nav a {
		display: inline-block;
		width: 45%;
		background-color: #3e7342;
		border: 1px solid #386535;
		color: white;
		margin-right: 1%;
		text-decoration: none;
		text-align: center;
		padding: 4px 0;
		position: static;
	}

	#quiz_progress nav a.next {
		background-color: #ffef33;
    	/* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); */
    	color: #222;
    	border: 0;
	}

	#quiz_progress nav a.next:hover {
		background-color: #ffef99;
	}
	#quiz_progress nav a:hover {
		background-color: #427949;
	}


	#title-wrapper {
		margin: 0.5em;
	}

	#draft_message {
		display: block;
	}
	body.front #site-content, #site-content {
		margin-top: 0;
	}

	#class_nav {
		display: block;
	}

	#front-menu {
		display: block;
	}

	body.front nav li {
		float: left;
		width: 47%;
	}

	body.front nav li.odd {
		margin-right: 6%;
		clear: both;
	}
	body.platon-use-slider #second-sidebar #front-menu li.row3-start {
		clear: none;
	}

	body.front #second-sidebar ul.slides > li .content {
		width: 60%;
		margin: 0 20% 0 20%;
		font-size: 1.2em;
	}
	body.platon-use-slider #second-sidebar #front-menu li {
		width: 16.6667% !important;
	}
	
	body.front #front-back {
	top: 150px;
	left: 8%;
	right: auto;
	}
}

@media screen and (min-width: 1000px) {
	#content aside {
		width: 40%;
		float: right;
		clear: right;
	}

	#content aside.half {
		width: 50%;
	}
	#content aside.wide {
		width: 66%;
	}
}

@media screen and (min-width: 1400px) {
	#logo {
		left: 35px !important; 
	}

	body.front #second-sidebar ul.slides > li .content {
			font-size: 1.3em;
			width: 50%;
			margin: 0 25% 0 25%;
			padding: 0;
		}
	body.front #second-sidebar ul.slides > li .content h2 {
		font-size: 2em;
	}
	body.front li .content .intro {
		margin: 0 1%;
	}


	figure.presentation figcaption.headers .chem21,
	figure.presentation figcaption.headers .module_title {
		font-size: 1.6em;
	}

	figure.presentation figcaption.headers .title,
	figure.presentation figcaption.headers .authors {
		font-size: 1.2em;
	}
}

#inlinevideocontent {
	background-color: black;
	margin: 0;
	color: #eee;
	text-align: center;
	padding: 1em;
}

#inlinevideocontent p {
	background-color: transparent;
	margin: 0;
	font-size: 2em;
	font-weight: bold;
}

#inlinevideocontent video {
	max-width: 100%;
}

ul.figure-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.figure-menu figure {
	margin: 0;
}

ul.figure-menu figure canvas {
	display: block;
}

ul.figure-menu figure figcaption {
	text-align: center;
	background-color: #fefefe;
	border-top: 1px solid #dedede;
}

ul.figure-menu li {
	width: 23%;
	min-width: 200px;
	float:left;
	background-color: white;
	margin-right: 1.5%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
	overflow: hidden;
	border-top: 3px solid #aaa;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

@media only all {
	.ui-table-reflow tbody tr td:first-child {
		margin-top: 3em;
	}
}

div#feedback {
	display: block;
	height: inherit;
	position: relative;
	background-color: transparent;
	color: #222;
	width: 15%;
	min-width: 100px; 
	float: right;
	background-color: #eee;
	opacity: 0.6;
	cursor: pointer;
}

div#feedback div.wrap {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	text-align: center;
}

div#feedback img {
	vertical-align: middle;
	margin-right: 0.5%;
}
div#feedback a {
	color: black;
	text-decoration: none;
	vertical-align: middle;
}

div#feedback.hover {
	background-color: white;
}

div#feedback.hover a {
	color: #393;
}

/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/
table.ui-responsive {
	width: 100%;
	display: block;
	vertical-align: top;
	/*max-width: min-content;*/
	overflow-x: auto;
	overflow-y: hidden;
	/*white-space: nowrap;*/
	border-collapse: collapse;
	border-spacing: 0;
	margin:0;
}


div.ui-responsive-wrap {
	display: block;
	/*max-width: min-content;*/
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.ui-responsive-wrap .right-shadow {
	background-image: linear-gradient(to left, rgba(0,0,0, 0.1) 50%, rgba(0,0,0, 0) 100%);
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: 10px 100%;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
  	width: 20px;
  	z-index: 150;
  	overflow: hidden;
}

div.ui-responsive-wrap .left-shadow {
	background-image: linear-gradient(to right, rgba(0,0,0, 0.1) 50%, rgba(0,0,0, 0) 100%);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 10px 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 20px;
	z-index: 150;
	overflow:hidden;
}


table.ui-responsive,
table.ui-responsive--flip tbody {
  -webkit-overflow-scrolling: touch;
}

table.ui-responsive--flip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: none;
}

table.ui-responsive--flip thead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

table.ui-responsive--flip tbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

table.ui-responsive--flip tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

table.ui-responsive--flip td,
table.ui-responsive--flip th {
  display: block;
}

table.ui-responsive--flip td {
  background-image: none !important;
  border-left: 0;
}

table.ui-responsive--flip th:not(:last-child),
table.ui-responsive--flip td:not(:last-child) {
  border-bottom: 0;
}