<figure class="presentation">
<video width="100%" controls>
	<source src="{{ url }}" type="video/mp4" />
	Your browser does not support the video tag
</video>
<figcaption class="overlay">
	Presentation by <span class="byline">{{ byline }}</span></figcaption>
</figcaption>
{% if description %}
<figcaption class="description">
{{ description|safe }}
</figcaption>
{% endif %}
{% if tools %}
<figcaption class="admin_tools">
<a class="download" href="{{ url }}" download> Download</a> | <a class="replace" href="#">Replace</a>
</figcaption>
{% endif %}
</figure>