{% load static %}
{% load admin_urls %}
<figure class="presentation youtube" data-remote-id="{{ remote_id}}">
<div class="video_wrapper">
<a class="youtube" href="{{ remote_url }}" title="{{ title }}" data-timeline-sources = "{{ timeline_url }}">
<img class="thumbnail" src="{{ front_slide_url }}" />
</a>
<div class="loader">
<img src="{% static "img/ajax-loader.gif" %}" />
</div>
<div class="action_overlay repeat">&nbsp;</div>
<div class="action_overlay play">&nbsp;</div>
<figcaption class="headers">
<div class="chem21">CHEM21 eLearning Programme</div>
<div class="module_title">{{ module_title }}</div>
<div class="title">{{ title }}</div>
<div class="authors">{{ authors }}</div>
</figcaption>
<div class="disclaimer">
<p>
This resource has been created as part of the IMI funded CHEM21 project (Chemical Manufacturing Methods for the 21st Century Pharmaceutical Industries). CHEM21 has received funding from the Innovative Medicines Initiative Joint Undertaking under grant agreement n°115360, resources of which are composed of financial contribution from the European Union’s Seventh Framework Programme (FP7/2007-2013) and EFPIA companies’ in kind contribution.
</p>
<p>
The views expressed in regards to education and training materials represent the aspiration of the CHEM21 consortium, although may not always be the view of each individual organisation. Referencing of external sources does not imply formal endorsement by the CHEM21 consortium.
</p>
</div>
</div>
{% if description %}
<figcaption class="description">
{{ description|safe }}
</figcaption>
<div class="">
</div>
<div class="">
</div>
{% endif %}
{% if tools %}
<figcaption class="admin_tools">
<a class="download" href="{{ url }}" download> Download</a>
 | <a class="replace" href="#">Replace</a>
	{% if not object.youtube_id %}|
		<a class="yt_upload" 
		   href="{% url 'youtube_upload' vpk=vid_pk type=lobj_type tpk=lobj_pk %}">
		 Upload to Youtube</a>
	{% endif %}
<br />
	<a class="manage_popups" href="{% url 'admin:repo_presentationaction_changelist' %}?presentation={{ vid_pk }}">Manage popups</a> |
	<a class="add_popup" href="{% url 'admin:repo_presentationaction_add' %}?presentation={{ vid_pk }}">Add popup</a>  <br />
	<a class="edit" href="{% url 'admin:repo_uniquefile_change' vid_pk %}">Settings</a> 
	<a class="delete btn btn-success admin-delete" href="{{ remove_url }}">Remove</a>

</figcaption>
{% endif %}
</figure>