<figure class="presentation youtube" data-remote-id="{{ remote_id}}">
<a href="{{ remote_url }}" title="{{ title }}">
<img class="thumbnail" src="{{ front_slide_url }}" />
</a>
<figcaption class="headers">
<div class="chem21">CHEM21 eLearning Programme</div>
<div class="module_title">{{ module_title }}</div>
<div class="title">{{ title }}</div>
<div class="authors">{{ authors }}</div>
</figcaption>
{% if description %}
<figcaption class="description">
{{ description|safe }}
</figcaption>
{% endif %}
{% if tools %}
<figcaption class="admin_tools">
<a class="download" href="{{ url }}" download> Download</a> | <a class="replace" href="#">Replace</a>
</figcaption>
{% endif %}
</figure>