{% extends 'repo/base.html' %}
{% load require %}
{% block scripts %}
{% require_module '../file_listing' %}
{% endblock %}
{% block content %}
<div id="sources_tree">
<h2>Source files</h2>
<ol class="sortable">
	{% for topic in topics %}
	<li class="repo-object-topic-{{ topic.id }}">
		<div>
			{% if topic.modules.count %}
		    <span title="Click to show/hide children" class="disclose">
            <span></span>
        	</span>
        	{% endif %}
			{{ topic }}
			</div>
			<ol>
			{% for module in topic.modules.all %}
				<li data-url-edit="" data-url-new="" class="repo-object-module-{{ module.id }}">
					<div>
						{% if module.ordered_videos %}
					    <span title="Click to show/hide children" class="disclose">
            			<span></span>
        				</span>
        				{% endif %}
						{{ module }}
					</div>
					{% include 'repo/file_listing.html' with file_list=module.ordered_videos with_list=1 module=module %}
				</li>
			{% endfor %}
			</ol>
	</li>
	{% endfor %}
</ol>
</div>
<div id="lessons_tree">
<h2>Lesson structure</h2>
<ol class="sortable">
{% for topic in topics %}
	<li class="repo-object-topic-{{ topic.id }}">
		<div>
		    <span title="Click to show/hide children" class="disclose">
            <span></span>
        	</span>
			{{ topic }}
			</div>
			<ol>
			{% for module in topic.modules.all %}
				<li data-url-edit="" data-url-new="" class="repo-object-module-{{ module.id }}">
					<div>
					    <span title="Click to show/hide children" class="disclose">
            			<span></span>
        				</span>
						{{ module }}
					</div>
					{% include 'repo/lesson_listing.html' with lesson_list=module.ordered_lessons with_list=1 module=module %}
				</li>
			{% endfor %}
			</ol>
	</li>
	{% endfor %}
	</ol>
</div>
{% endblock %}