{% extends 'repo/base.html' %}
{% load require %}
{% block scripts %}
{% require_module '../file_listing' %}
{% endblock %}
{% block content %}
<ol class="sortable">
	{% for topic in topics %}
	<li id="topic-{{ topic.id }}">
		<div>
		    <span title="Click to show/hide children" class="disclose">
            <span></span>
        	</span>
			{{ topic }}
			</div>
			<ol>
			{% for module in topic.modules.all %}
				<li id="module-{{ module.id }}">
					<div>
					        <span title="Click to show/hide children" class="disclose">
            <span></span>
        </span>
						{{ module }}
						</div>
						{% include 'repo/file_listing.html' with file_list=module.ordered_videos with_list=1 module=module %}
					
				</li>
			{% endfor %}
			</ol>
		
	</li>
	{% endfor %}
</ol>
{% endblock %}