{% load admin_urls %}
<ol>
    {% for l in lesson_list %}
    <li data-url-edit="{% url opts.lesson|admin_urlname:'change' l.pk %}"
        data-from-url-edit="{% url opts.lesson|admin_urlname:'changelist' %}"
        data-url-new="{% url opts.question|admin_urlname:'add' %}?lessons={{ l.pk }}" 
        data-from-url-new="{% url opts.question|admin_urlname:'changelist' %}"
        class="repo-object-lesson-{{ l.pk }}{% if l.is_dirty %} dirty{% endif %}">
        <div>
            {% if l.ordered_questions %}
            <span title="Click to show/hide children" class="disclose">
                <span></span>
            </span>
            {% endif %}  
            {{ l.title }}
        </div>
        {% if l.ordered_questions %}
        <ol class="questions">
            {% for q in l.ordered_questions %}
            <li data-url-edit="{% url opts.question|admin_urlname:'change' q.pk %}"
             data-from-url-edit="{% url opts.question|admin_urlname:'changelist' %}"
                data-url-new="{% url opts.uniquefile|admin_urlname:'add' %}?questions={{ q.pk }}" 
                data-from-url-new="{% url opts.uniquefile|admin_urlname:'changelist' %}"
                class="repo-object-question-{{ q.pk }}{% if q.is_dirty %} dirty{% endif %}">
                <div>
                   {{ q.title }} 
                </div>
            </li>
            {% endfor %}
        </ol>
        {% endif %}
    </li>
    {% endfor %}
</ol>