	    <div style="display:inline" id="{{ id }}">
	    <span class="btn btn-success fileinput-button">
	        <i class="glyphicon glyphicon-plus"></i>
	        <span>Upload media...</span>
	        <!-- The file input field used as target for the file upload widget -->
	        <input class="fileupload" type="file" name="files[]" multiple>
	    </span>
		    <!-- The global progress bar -->
		    <div class="progress">
		        <div class="progress-bar progress-bar-success"></div>
		    </div>
		    <!-- The container for the uploaded files -->
		    <ul class="files"></ul>
		</div>